{% extends 'base.html.twig' %}

{% block title %}DateLone{% endblock %}

{% block body %}
    <h1>DateLone</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ date_lone.id }}</td>
            </tr>
            <tr>
                <th>Datereel</th>
                <td>{{ date_lone.datereel ? date_lone.datereel|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('date_lone_index') }}">back to list</a>

    <a href="{{ path('date_lone_edit', {'id': date_lone.id}) }}">edit</a>

    {{ include('date_lone/_delete_form.html.twig') }}
{% endblock %}
