{% extends 'base.html.twig' %}

 {% block stylesheets %}
     {{ parent() }}
     <link rel="stylesheet"
           href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
     <link rel="stylesheet"
           href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">


     <style>
         label[data-tooltip]:hover{
             cursor: help;
         }
         label[data-tooltip]:hover:after {
             content: attr(data-tooltip);
             padding: 5px 8px;
             color: white;
             position: absolute;

             left: 80%;
             z-index: 50;
             border-radius: 5px;
             background-color: #34495E;
         }


         .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {

             background-color: #FF7900;
             border-color: #FF7900;

         }
         .pagination>li>a, .pagination>li>span {

             color: black;

         }
         body {
             max-width: 100%;
             margin: 0;
         }
         body {
             min-height:100vh;
         }

         .flex-fill {
             flex:1 1 auto;
         }

         div.dataTables_length select {
             width: 0px;
         }

         .form-signin{
             padding-bottom: 2%;
             padding-top: 2%;
             padding-right: 10%;
             padding-left: 10%;

         }

         select{
             width: 100%;
         }

         .searching{
             display: inline-block;
         }
         @media (max-width:765px)
         {
             .form-signin{
                 padding-bottom: 25%;
                 padding-top: 7%;
                 padding-right: 8%;
                 padding-left: 8%;

             }

             input{
                 width:100%
             }
             input#pvinterneform_pourcentage {
             border: none}
         }

         span#profilnameof.form-control,span#labelp.form-control{
             background: none;
             border: none;
         }

             input[type="number"] {
                 text-align: center;
                 background: none;
                 border: none;
             }

         table,thead,tr,tbody,td,th{
             border: none;
         }
         .table > :not(:last-child) > :last-child >*{
             border: none;
         }

         element.style {
             width: 30%;
         }
         .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
             border: none;
         }






         @media (max-width:765px)
         {
             .toreduce{
                 width: 50%;

             }
         }

     </style>




 {% endblock  %}

{% block body  %}
    <body class="d-flex flex-column">



    <main class="container-fluid flex-fill ">
        <h1 class="text-center" >PVR interne du projet {{ pv.projet }} pour le mois de {{ datepv.datemy |date('m/Y') }}:  </h1>


        <div class="form-signin">

            <div id="dive1" class="dive1" style="display: none; background-color: lightgrey; height: 25%; padding-left:2%;padding-right:2%;border-radius:15px;padding-top: 2%;padding-bottom: 2%">


                <div class="boutonS">
                    <button id="bouton1" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <br>
                <div class="texterror" id="texterror"></div>


            </div>

            {% for message in app.flashes('notification') %}
                <div id="dive2" style="background-color: lightgrey; height: 25%; padding-left:2%;padding-right:2%;border-radius:15px;padding-top: 2%;padding-bottom: 2%">
                    <div class="boutonSo">
                        <button id="bouton2" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <br>
                    {{ message }}
                </div>
            {% endfor %}
            <br>




            <br>
            <div class="bigbox" id="bigbox" style="width: 100%">


                <br>
                <div class="d-flex justify-content-center">
                <table width="100%">

                    <thead>

                    <tr>

                        <th class="text-center" data-sorter="shortDate" data-date-format=" d MMM yyyy" style="width: 30%; border: black solid 1px;padding-bottom: 1%;padding-top: 1%">Projet</th>
                        <th class="text-center"  style="width: 30% ; border: black solid 1px" >Taux de réception en interne</th>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr >
                            <td class="text-center " style="width: 30%;border: black solid 1px;padding-bottom: 1%;padding-top: 1%">{{ pv.projet }}</td>
                            {{ form_start(form) }}
                            <td style="text-align: center;border: black solid 0.5px" >
                               <span  ><label data-tooltip="Taux de réception déjà perçu : {{ maxp }} %" >
                                   {{ form_widget(form.pourcentage, {
                                       'label_attr': {'class': 'form_control'}}
                                   ) }} </label> </span>

                            </td>
                        </tr>
                </table>

                </div>
                <div class="d-flex justify-content-center">
                    <button   style="color: black;text-decoration: none;width: 25% ;padding-top: 1%;padding-bottom: 1%; margin-left: 3%; margin-top: 3%" type="button" onclick="enregistrer()">Enregistrer</button>
                    <button   style="color: black;text-decoration: none;padding-top:1%;width: 25%; padding-bottom: 1%; margin-left: 3%; margin-top: 3%" type="button" onclick="acceptation()">Valider</button>

                </div >
                {{ form_end(form) }}
            </div>
        </div>
    </main>
    </div>
    </main>
    </body>


{% endblock  %}

{% block javascripts %}
    {{ parent() }}
    <script src="//code.jquery.com/jquery-1.12.3.js"></script>
    <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>

    <script>

        $(document).ready( function () {
            $('#mySearchButton').on( 'keyup click', function () {
                table.search($('#mySearchText').val()).draw();
            } );


        } );


        let bouton1 = document.getElementById("bouton1");
        let dive1 = document.getElementById("dive1");
        bouton1.addEventListener("click", () => {
            if(getComputedStyle(dive1).display != "none"){
                dive1.style.display = "none";
            } else {
                dive1.style.display = "block";
            }
        })

        let bouton2 = document.getElementById("bouton2");
        let dive2 = document.getElementById("dive2");
        bouton2.addEventListener("click", () => {
            if(getComputedStyle(dive2).display != "none"){
                dive2.style.display = "none";
            } else {
                dive2.style.display = "block";
            }
        })


        function enregistrer(){
        jQuery(document).ready(function () {
            $taux = document.getElementById('pvinterneform_pourcentage').value;
                $.ajax({
                    method: "POST",
                    url: "{{ path('modifypv', {'pvinternes':pv.id, 'id':datepv.id }) }}",
                    data: {name: $taux, type: 1,},
                    dataType: 'json',
                    success: function (html) {
                        console.log(html);
                        if (html.success) {
                            window.location.href = html.redirect; // <-- HERE

                        } else {
                            $("#texterror").html(html.message);
                            $('#dive1').css('display', 'block');

                        }

                    }
                }).done(function (response) {


                }).fail(function (jxh, textmsg, errorThrown) {
                    console.log(textmsg);
                    console.log(errorThrown);
                    alert(errorThrown);
                });
            });
        }











        function acceptation() {
            $taux = document.getElementById('pvinterneform_pourcentage').value;
            jQuery(document).ready(function () {
                $.ajax({
                    method: "POST",
                    url: "{{ path('modifypv', {'pvinternes':pv.id, 'id':datepv.id }) }}",
                    data: {name: $taux, type: 2,},
                    dataType: 'json',
                    success: function (html) {
                        console.log(html);
                        if (html.success) {
                            window.location.href = html.redirect; // <-- HERE
                        } else {
                            $("#texterror").html(html.message);
                            $('#dive1').css('display', 'block');
                        }
                    }
                }).done(function (response) {
                }).fail(function (jxh, textmsg, errorThrown) {
                    console.log(textmsg);
                    console.log(errorThrown);
                    alert(errorThrown);
                });
            });
        }


















    </script>

{% endblock  %}
