
{% extends 'base.html.twig' %}

 {% block stylesheets %}
     {{ parent() }}
     <link rel="stylesheet"
           href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
     <link rel="stylesheet"
           href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">


     <style>
         .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {

             background-color: #FF7900;
             border-color: #FF7900;

         }
         .pagination>li>a, .pagination>li>span {

             color: black;

         }
         body {
             max-width: 100%;
             margin: 0;
         }
         body {
             min-height:100vh;
         }

         .flex-fill {
             flex:1 1 auto;
         }

         div.dataTables_length select {
             width: 0px;
         }

         .form-signin{
             padding-bottom: 2%;
             padding-top: 2%;
             padding-right: 10%;
             padding-left: 10%;

         }
         input:disabled {
             cursor: default;
             background-color: white;
             text-align: right;
             border-color: white;
             border-top: none;
             border-left: none;
         }



         .searching{
             display: inline-block;
         }
         @media (max-width:765px)
         {
             .form-signin{
                 padding-bottom: 25%;
                 padding-top: 7%;
                 padding-right: 8%;
                 padding-left: 8%;

             }

             .photoclose{
                 width: 100%;
             }
             img.photocheck{
                 width: 100%;
             }
             .photopen{
                 width: 70%;
             }

         }
         .row:after {
             content: "";
             display: table;
             clear: both;
         }

         .select23  {
             /* for Firefox */
             -moz-appearance: none;
             /* for Chrome */
             -webkit-appearance: none;
         }

         /* For IE10 */
         .select23::-ms-expand {
             display: none;

         }

         select{
             border:none;
             background-color: lightgrey;
         }

         input[type="number"] {
             text-align: center;
             width: 100%;
             background: none;
             border: none;
         }

         select{
             text-align: center;
         }

         span#profilnameof.form-control,span#labelp.form-control{
             background: none;
             border: none;
         }


         @media (max-width:765px)
         {
             .toreduce{
                 width: 50%;

             }
         }

     </style>




 {% endblock  %}

{% block body  %}
    <body class="d-flex flex-column">



    <main class="container-fluid flex-fill ">
        <h1 class="text-center" >Bilan mensuel {{ month}} / {{ year}} du fournisseur {{ fournisseur}} : </h1>


        <div class="form-signin">

            <div id="dive1" class="dive1" style="display: none; background-color: lightgrey; height: 25%; padding-left:2%;padding-right:2%;border-radius:15px;padding-top: 2%;padding-bottom: 2%">


                <div class="boutonS">
                    <button id="bouton1" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <br>
                <div class="texterror" id="texterror"></div>


            </div>

            {% for message in app.flashes('notification') %}
                <div id="dive2" style="background-color: lightgrey; height: 25%; padding-left:2%;padding-right:2%;border-radius:15px;padding-top: 2%;padding-bottom: 2%">


                    <div class="boutonSo">
                        <button id="bouton2" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <br>
                    {{ message }}
                </div>
            {% endfor %}



            <br>




            <br>
            <table id="couts" style="display:block" >
                <thead  >
                <tr>
                    <th width="20%" style="text-align: center;background: lightgrey ;border: black solid 0.5px">
                        <span class="form-control" id="labelp">Profils</span>
                    </th>
                    {{ form_start(form, {'attr': {'id': 'myForm'}}) }}
                    {% for profil in profils %}
                        <td width="15%" style="text-align: center;background-color: lightgrey;border: black solid 0.5px">
                            <span class="form-control" id="profilnameof">{{ profil.name}}</span>


                        </td>
                    {% else %}
                <tr>
                    <td colspan="6">Pas de données trouvées</td>
                </tr>
                {% endfor %}

                    <td width="8%" style="text-align: center;background-color: lightgrey;border-top:black solid 0.5px; border-left: black solid 0.5px;border-right: black solid 0.5px">
                        Dernière mise à jour
                    </td>
                    <td width="8%"  style="text-align: center;background-color: white;border-bottom:  rgba(0,0,0,0.63) solid 0.25px">

                    </td>

                </tr>
                </thead>
                <tbody>
                {%set index=0 %}
                {% for bilanMensuel in form.bilanMensuels %}
                <tr>
                    <td width="20%" style="text-align:center;background-color: lightgrey;border: black solid 0.5px">
                              <span>{{ form_widget(bilanMensuel.projet, {
                                      'label_attr': {'class': 'form_control'}}
                                  ) }}</span>
                    </td>

                    {% for infobilan in bilanMensuel.Infobilans %}
                        <td width="10%" style="text-align: center;border: black solid 0.5px" >
                               <span> {{ form_widget(infobilan.nombreprofit, {
                                       'label_attr': {'class': 'form_control'}}
                                   ) }}</span>
                        </td>
                    {% else %}
                        <tr>
                            <td colspan="6">Pas de données trouvées</td>
                        </tr>
                    {% endfor %}



                    <td style="border: black solid 0.5px;text-align: center;justify-items: center">
                       <span>{{ form_widget(bilanMensuel.datemaj, {
                               'label_attr': {'class': 'form_control'}}
                           ) }}</span>

                    </td>

                    <td  style="display:flex;border:none;border-right: rgba(0,0,0,0.63) solid 0.25px;border-bottom: rgba(0,0,0,0.63) solid 0.12px" >

                        <button class="text-decoration-none" id=bilanMensuel_{{ index }} style="display: block;width: 100%;background-color: white;border: none" type="button" onclick=makeeditable({{ index }})><img class="photopen" src="/photo/pen.png "  width="30%" ></img></button>
                        <button class="text-decoration-none" id=validbm_{{ index }} style="display: none;width: 50%;background-color: white;border: none" type="button" onclick="submission({{ index }})"><img class="photocheck" src="/photo/check.png "  width="70%" height="100%"></img></button>
                        <button class="text-decoration-none" id=closingbm_{{ index }} style="display: none;width: 50%;background-color: white;border: none" type="reset" onclick=annulmodif({{ index }})><img class="photoclose" src="/photo/close.png "  width="40%" height="80%"></img></button>

                    </td>
                    {% set index=index +1%}


                    {% endfor %}
                </tbody>
            </table>
            <div class="d-flex justify-content-center">
                <button  id=toaccept class="toaccept   text-black " style="text-decoration: none;padding-left: 2.5%;padding-right: 2.5%; margin-top: 3%" type="button" onclick="acceptation()">Accepter le bilan mensuel</button>
            </div >
            {{ form_end(form) }}
        </div>


    </main>
    </div>
    </main>
    </body>


{% endblock  %}

{% block javascripts %}
    {{ parent() }}
    <script src="//code.jquery.com/jquery-1.12.3.js"></script>
    <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script
            src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>


    <script src="{{ asset('javascript/indexFournisseur.js') }}"></script>

    <script>





        jo = -1;
        po = -1;
        {% for profil in profils %}
        jo = jo + 1;
        {% endfor %}
        {% for bilanMensuel in form.bilanMensuels %}
        po = po + 1;
        {% endfor %}
        for (az = 0; az < jo + 1; az++) {
            for (pz = 0; pz < po + 1; pz++) {
                dxeqz = document.getElementById('idmonthbm_bilanMensuels_' + [pz] + '_Infobilans_' + [az] + '_nombreprofit').setAttribute('disabled', 'disabled');
            }
        }
        double = false;

        function acceptation(){

            if(double==true){
                document.getElementById('texterror').innerText='Le bilan mensuel ne peut pas être accepté tant qu\'il est en cours d\'édition'
                document.getElementById('dive1').style.display="block";
            }
            else{


                jQuery(document).ready(function (){


                       $.ajax({
                           method: "POST",
                           url: "{{ path('bilanmensuel_fournisseurmois', {'name': fournisseur.name,'idmonthbm':mbilan,'month':month,'year':year}) }}",
                           data: {type: 2},
                           dataType: 'json',
                           success: function (html) {
                               console.log(html);
                               if (html.success) {
                                   window.location.href = html.redirect; // <-- HERE
                               } else {
                                   $("#texterror").html(html.message);
                                   $('#dive1').css('display', 'block');
                               }
                           }
                       }).done(function (response) {


                       }).fail(function (jxh, textmsg, errorThrown) {
                           console.log(textmsg);
                           console.log(errorThrown);
                           alert(errorThrown);
                       });

                })




            }

        }


        function submission(i) {
            $indexprojet = i;
            $phasing6 = document.getElementById('idmonthbm_bilanMensuels_' + [i] + '_projet');
            var selectValue6 = $phasing6.options[$phasing6.selectedIndex].innerText;

               jQuery(document).ready(function () {
                    var myindex = $indexprojet;
                    var profilarray = new Array();
                    var tableaufinal = new Array();
                    var isnegative=false;
                    {% for profil in profils %}
                    profilarray.push({{ profil.id }})
                    {% endfor %}
                    for (im = 0; im < profilarray.length; im++) {
                        var tableaucompose = new Array();
                        tableaucompose.push(profilarray[im]);
                        tableaucompose.push(document.getElementById('idmonthbm_bilanMensuels_' + [myindex] + '_Infobilans_' + [im] + '_nombreprofit').value);
                        tableaufinal.push(tableaucompose);
                        if(document.getElementById('idmonthbm_bilanMensuels_' + [myindex] + '_Infobilans_' + [im] + '_nombreprofit').value<0){
                            isnegative=true;
                        }
                    }


                    if(isnegative==false) {

                        $.ajax({
                            method: "POST",
                            url: "{{ path('bilanmensuel_fournisseurmois', {'name': fournisseur.name,'idmonthbm':mbilan,'month':month,'year':year}) }}",
                            data: {name: selectValue6, type: 1, listedata: tableaufinal},
                            dataType: 'json',
                            success: function (html) {
                                console.log(html);
                                if (html.success) {

                                    window.location.href = html.redirect; // <-- HERE

                                } else {

                                    $("#texterror").html(html.message);
                                    $('#dive1').css('display', 'block');
                                }

                            }
                        }).done(function (response) {


                        }).fail(function (jxh, textmsg, errorThrown) {
                            console.log(textmsg);
                            console.log(errorThrown);
                            alert(errorThrown);
                        });
                    }
                    else{
                        $("#texterror").html(html.message);
                        $('#dive1').css('display', 'block');
                        document.getElementById('dive1').style.display="block";
                        document.getElementById('texterror').innerHTML="Le formulaire est incorrect ;  les données soumises ne peuvent pas être négatives."
                    }

                })




        }


        function makeeditable(i) {
            if (double != true) {
                j = -1;
                {% for profil in profils %}
                j = j + 1;
                {% endfor %}
                for (p = 0; p < j + 1; p++) {
                    dxeqz = document.getElementById('idmonthbm_bilanMensuels_' + [i] + '_Infobilans_' + [p] + '_nombreprofit').removeAttribute("disabled");
                }
                document.getElementById('bilanMensuel_' + [i]).style.display = "none";
                document.getElementById('closingbm_' + [i]).style.display = "inline-block";
                document.getElementById('validbm_' + [i]).style.display = "inline-block";
                double = true;
            } else {
                alert('Vous ne pouvez éditer qu\'un champ à la fois');
            }
        }

        function annulmodif(i) {


            document.getElementById('bilanMensuel_' + [i]).style.display = "inline-block";
            document.getElementById('closingbm_' + [i]).style.display = "none";
            document.getElementById('validbm_' + [i]).style.display = "none";
            double = false;
        }

        let bouton1 = document.getElementById("bouton1");
        let dive1 = document.getElementById("dive1");
        bouton1.addEventListener("click", () => {
            if(getComputedStyle(dive1).display != "none"){
                dive1.style.display = "none";
            } else {
                dive1.style.display = "block";
            }
        })
        let bouton2 = document.getElementById("bouton2");
        let dive2 = document.getElementById("dive2");
        bouton2.addEventListener("click", () => {
            if(getComputedStyle(dive2).display != "none"){
                dive2.style.display = "none";
            } else {
                dive2.style.display = "block";
            }
        })







    </script>

{% endblock  %}
