{% extends 'base.html.twig' %}

 {% block stylesheets %}
     {{ parent() }}
     <link rel="stylesheet" href="{{ asset('css/connexion.css') }}" />
     <link href="https://cdn.jsdelivr.net/npm/smartwizard@5/dist/css/smart_wizard_all.min.css" rel="stylesheet" type="text/css" />
     <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
     <style>

         .select23  {
             /* for Firefox */
             -moz-appearance: none;
             /* for Chrome */
             -webkit-appearance: none;
         }

         /* For IE10 */
         .select23::-ms-expand {
             display: none;
         }

         .sw-theme-arrows>.nav .nav-link.done {
             border-color: darkgrey;
             border-top-color: darkgrey;
             border-right-color: darkgrey;
             border-bottom-color: darkgrey;
             border-left-color: darkgrey;
             background: darkgrey;
             background-color: darkgrey;
         }

         .sw-theme-arrows>.nav .nav-link.done::after {
             border-left-color: darkgrey;
         }

         .sw-theme-arrows>.nav .nav-link.done {
             border-color: darkgrey;
             border-top-color: darkgrey;
             border-right-color: darkgrey;
             border-bottom-color: darkgrey;
             border-left-color: darkgrey;
             background: darkgrey;
             background-color: darkgrey;
             color: black;
         }

         .sw-theme-arrows>.nav .nav-link.active {
             border-color: #FF7900;
             border-top-color: #FF7900;
             border-right-color: #FF7900;
             border-bottom-color: #FF7900;
             border-left-color: #FF7900;
             background: #FF7900;
             background-color:#FF7900;

             color: black;
         }

         .sw-theme-arrows>.nav .nav-link.active::after {
             border-left-color: #FF7900;
             color: black;
         }


         .sw-theme-arrows>.nav .nav-link.active {

             border-color: #FF7900;
             border-top-color: #FF7900;
             border-right-color: #FF7900;
             border-bottom-color: #FF7900;
             border-left-color: #FF7900;
             background-color:#FF7900;
             color: black;

         }

         .sw-theme-arrows .toolbar>.btn{
             background-color: #FF7900;
             border-color: #FF7900;
             color: black;
         }


         input,select{
             width: 100%;
         }
         textarea {

             width: 100%;
         }
         label#debit1bm,label#debit2bm,label#debit3bm, label#debit4bm {
             white-space: pre-wrap;
         }
         #tore{width:20%;}
         #toc{width:50%;}
         @media (max-width:765px)
         {
             #tore{width:50%;}
             #toc{width:100%;}
             #tof{width:60%;
             }

         }



     </style>


 {% endblock  %}

{% block body  %}
    <body class="d-flex flex-column">
    <main class="container-fluid flex-fill ">
        <br>
        <h1 class="text-center">Modification du projet </h1>
        <p style="text-align: right">dernière date de mise à jour : {{ projet.datemaj |date('d/m/Y') }}</p>
        <br>
        {{ form_start(form, {'attr': {'id': 'myForm'}}) }}
        <div id="smartwizard">

            <ul class="nav" >
                <li class="nav-item">
                    <a class="nav-link" href="#step-1">
                        Description
                    </a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="#step-2">
                        Avancement
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#step-3">
                        Planification
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#step-4">
                        Coût
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#step-5">
                        Modalités de réception
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#step-6">
                        Commentaires
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#step-7">
                        Confirmation
                    </a>
                </li>

            </ul>

            <div class="tab-content" id="tab-content">
                <div id="step-1" class="tab-pane" role="tabpanel" aria-labelledby="step-1">
                    <table style="border-color: white;width:100%">
                        <tr style="border-color: white">
                            <th width="15%">

                                {{ form_label(form, 'Référence *', {
                                    'label_attr': {'class': 'input-group-text'}}) }}</th>
                            <th  id="tore">
                                {{ form_widget(form.reference, {
                                    'label_attr': {'class': 'form_control'}}
                                ) }}
                            </th>
                            <th style="padding-left: 1%"><label id="
                            modifyde_reference-error" class="error" for="
                            modifyde_reference"></label></th>
                        </tr>
                        <tr style="border-color: white" >
                            <th>

                                {{ form_label(form, 'Chef de projet', {
                                    'label_attr': {'class': 'input-group-text'}}) }}</th>
                            <th  id="tore">
                                {{ form_widget(form.userchef, {
                                    'label_attr': {'class': 'form_control'}}
                                ) }}
                            </th>
                            <th style="padding-left: 1%"><label id="
                            modifyde_userchef-error" class="error" for="
                            modifyde_userchef"></label></th>


                        </tr>

                        <tr style="border-color: white" >
                            <th>

                                {{ form_label(form, 'Phase', {
                                    'label_attr': {'class': 'input-group-text'}}) }}</th>
                            <th  id="tore">
                                {{ form_widget(form.Phase, {
                                    'label_attr': {'class': 'form_control'}}
                                ) }}
                            </th>
                            <th style="padding-left: 1%"><label id="
                            modifyde_Phase-error" class="error" for="
                            modifyde_Phase"></label></th>


                        </tr>


                        <tr>
                            <th> {{ form_label(form, 'Domaine', {
                                    'label_attr': {'class': 'input-group-text'}}) }}</th>
                            <th>{{ form_widget(form.domaine, {
                                    'label_attr': {'class': 'form_control'}}
                                ) }}</th>
                            <th style="padding-left: 1%"><label id="
                            modifyde_domaine-error" class="error" for="
                            modifyde_domaine"></label></th>


                        </tr>
                        <tr>
                            <th> {{ form_label(form, 'Sous-domaine', {
                                    'label_attr': {'class': 'input-group-text'}}) }}</th>
                            <th>{{ form_widget(form.sdomaine, {
                                    'label_attr': {'class': 'form_control'}}
                                ) }}</th>
                            <th style="padding-left: 1%"><label id="
                            modifyde_sdomaine-error" class="error" for="
                            modifyde_sdomaine"></label></th>


                        </tr>

                        <tr>
                            <th> {{ form_label(form, 'Fournisseur', {
                                    'label_attr': {'class': 'input-group-text'}}) }}</th>
                            <th>{{ form_widget(form.fournisseur, {
                                    'label_attr': {'class': 'form_control'}}
                                ) }}</th>
                            <th style="padding-left: 1%"><label id="
                                                        modifyde_fournisseur-error" class="error" for="
                            modifyde_fournisseur"></label></th>


                        </tr>

                        <tr>
                            <th> {{ form_label(form, 'Type de BU', {
                                    'label_attr': {'class': 'input-group-text'}}) }}</th>
                            <th>{{ form_widget(form.typebu, {
                                    'label_attr': {'class': 'form_control'}}
                                ) }}</th>
                            <th style="padding-left: 1%"><label id="
                            modifyde_typebu-error" class="error" for="
                            modifyde_typebu"></label></th>

                        </tr>
                        <tr style="border-color: white" >
                            <th width="15%">
                                {{ form_label(form, 'Date des spécifications *', {
                                    'label_attr': {'class': 'input-group-text'}}) }}</th>
                            <th id="tore">
                                {{ form_widget(form.datespec, {
                                    'label_attr': {'class': 'form_control'}}
                                ) }}
                            </th>
                            <th style="padding-left: 1%"><label id="modifyde_datespec-error" class="error" for="modifyde_datespec"></label></th>
                        </tr>
                        <tr>
                            <th> {{ form_label(form, 'Description', {
                                    'label_attr': {'class': 'input-group-text'}}) }}</th>
                            <th>{{ form_widget(form.description, {
                                    'label_attr': {'class': 'form_control'}}
                                ) }}</th>
                            <th style="padding-left: 1%"><label id="
                            modifyde_description-error" class="error" for="
                            modifyde_description"></label></th>
                        </tr>
                    </table>

                </div>

                <div id="step-2" class="tab-pane" role="tabpanel" aria-labelledby="step-2">
                    <table style="border-color: white;width:100%">
                        <tr>
                            <th width="15%"> {{ form_label(form, 'Taux d\'avancement (%) *', {
                                    'label_attr': {'class': 'input-group-text'}}) }}</th>
                            <th id="tore">{{ form_widget(form.taux, {
                                    'label_attr': {'class': 'form_control'}}
                                ) }}</th>
                            <th style="padding-left: 1%" ><label id="
                            modifyde_taux-error" class="error" for="
                            modifyde_taux"></label></th>
                        </tr>
                        <tr>
                            <th width="15%"> {{ form_label(form, 'Respect du planning', {
                                    'label_attr': {'class': 'input-group-text'}}) }}</th>
                            <th id="tore" style="text-align: left">{{ form_widget(form.isplanningrespecte, {
                                    'label_attr': {'class': 'form_control'}}
                                ) }}</th>
                            <th style="padding-left: 1%" ><label id="
                            modifyde_isplanningrespecte-error" class="error" for="
                            modifyde_isplanningrespecte"></label></th>
                        </tr>
                        <tr>
                            <th width="15%"> {{ form_label(form, 'Priorité', {
                                    'label_attr': {'class': 'input-group-text'}}) }}</th>
                            <th id="tore">{{ form_widget(form.priorite, {
                                    'label_attr': {'class': 'form_control'}}
                                ) }}</th>
                            <th style="padding-left: 1%" ><label id="
                            modifyde_priorite-error" class="error" for="
                            modifyde_priorite"></label></th>
                        </tr>
                        <tr style="border-color: white">
                            <th>

                                {{ form_label(form, 'Risque', {
                                    'label_attr': {'class': 'input-group-text'}}) }}</th>
                            <th>
                                {{ form_widget(form.risque, {
                                    'label_attr': {'class': 'form_control'}}
                                ) }}
                            <th style="padding-left: 1%"><label id="
                            modifyde_risque_error" class="error" for="
                            modifyde_risque"></label></th>

                            </th>

                        </tr>

                    </table>
                    <table>
                        <tr>
                            <th> <p id="messerrortaux"></p></th>
                        </tr>
                    </table>
                </div>
                <div id="step-3" class="tab-pane" role="tabpanel" aria-labelledby="step-3">
                    <table style="border-color: white;width:100%">



                            <tr style="border-color: white;"id="navdatel1">
                                <th width="15%">

                                    {{ form_label(form, 'Date réel T-1 *', {
                                        'label_attr': {'class': 'input-group-text'}}) }}</th>
                                <th  id="tore">
                                    {{ form_widget(form.datereell1, {
                                        'label_attr': {'class': 'form_control'}}
                                    ) }}
                                </th>
                                <th   style="padding-left: 1%"><label id="modifyde_datereell1-error" class="error" for="modifyde_datereell1"></label></th>

                            </tr>
                            <tr style="border-color: white" id="navdate0" >
                                <th width="15%">

                                    {{ form_label(form, 'Date réel T0 *', {
                                        'label_attr': {'class': 'input-group-text'}}) }}</th>
                                <th  id="tore">
                                    {{ form_widget(form.datereel0, {
                                        'label_attr': {'class': 'form_control'}}
                                    ) }}
                                </th>
                                <th  style="padding-left: 1%"><label id="modifyde_datereel0-error" class="error" for="modifyde_datereel0"></label></th>

                            </tr>

                        <tr style="border-color: white" id="navdate1">
                            <th width="15%">

                                {{ form_label(form, 'Date réel T1 *', {
                                    'label_attr': {'class': 'input-group-text'}}) }}</th>
                            <th id="tore">
                                {{ form_widget(form.datereel1, {
                                    'label_attr': {'class': 'form_control'}}
                                ) }}
                            </th>
                            <th   style="padding-left: 1%"><label id="modifyde_datereel1-error" class="error" for="modifyde_datereel1"></label></th>

                        </tr>

                        <tr style="border-color: white" id="navdate2">
                            <th width="15%">

                                {{ form_label(form, 'Date T2 *', {
                                    'label_attr': {'class': 'input-group-text'}}) }}</th>
                            <th id="tore">
                                {{ form_widget(form.date2, {
                                    'label_attr': {'class': 'form_control'}}
                                ) }}
                            </th>
                            <th  style="padding-left: 1%"><label id="modifyde_date2-error" class="error" for="modifyde_date2"></label></th>
                        </tr>

                        <tr style="border-color: white" id="navdate3">
                            <th width="15%">

                                {{ form_label(form, 'Date T3 *', {
                                    'label_attr': {'class': 'input-group-text'}}) }}</th>
                            <th id="tore">
                                {{ form_widget(form.date3, {
                                    'label_attr': {'class': 'form_control'}}
                                ) }}
                            </th>
                            <th  style="padding-left: 1%"><label id="modifyde_date3-error" class="error" for="modifyde_date3"></label></th>

                        </tr>



                    </table>

                </div>
                <div id="step-4" class="tab-pane" role="tabpanel" aria-labelledby="step-4">
                    <p>Si vous rentrez un nombre flottant, merci de séparer les parties entières et décimale avec un point (exemple : 6.5 ; la valeur 6,5 étant incorrecte)</p>
                    <table id="couts" style="display:block" >
                        <thead border="black 1px solid">
                        <tr border="red 1px solid" >
                            <th>
                                <span class="input-group-text" id="basic-addon1">Profil</span>
                            </th>
                            {% for cout in couts %}
                                <td >
                                    <span class="form-control">{{ cout.name}}</span>


                                </td>
                            {% endfor %}


                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>
                                <span class="input-group-text" id="basic-addon1">Nombre</span>
                            </th>
                            {% for coutField in form.couts %}
                                <td>
                                    {{ form_widget(coutField.nombreprofil, {
                                        'label_attr': {'class': 'form_control'}}
                                    ) }}
                                </td>
                            {% endfor %}
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <p id="price"></p>
                    <p id="messageerrorprix"></p>
                </div>
                <div id="step-5" class="tab-pane" role="tabpanel" aria-labelledby="step-4">

                    <table>

                        <tr id="mode">
                            <th> {{ form_label(form, 'Mode de paiement', {
                                    'label_attr': {'class': 'input-group-text'}}) }}</th>
                            <th>{{ form_widget(form.paiement, {
                                    'label_attr': {'class': 'form_control'}}
                                ) }}</th>
                            <th   style="padding-left: 1%"><label id="modifyde_paiement-error" class="error" for="modifyde_paiement"></label></th>

                        </tr>
                    </table>
                    <br>


                    {%if projet.paiement!="bilan mensuel" %}
                        <div class="input-group mb-3" id="toc">
                            <table>
                                <tr>
                                    <th id="tof">
                                    {{ form_label(form, 'Durée de la garantie (mois)', {
                                        'label_attr': {'class': 'input-group-text'}}) }}</th>
                                <th id="tore">
                                    {{ form_widget(form.garanti, {
                                        'label_attr': {'class': 'form_control'}}
                                    ) }}
                                </th>
                                <th   style="padding-left: 1%"><label id="modifyde_garanti-error" class="error" for="modifyde_garanti"></label></th>
                                </tr>
                                <tr id="debit1bm" style="display: none">
                                    <th  id="tof"> {{ form_label(form, 'Cout débité pendant la conception (%)', {
                                            'label_attr': {'class': 'input-group-text','id': 'debit1bm'}}) }}</th>
                                    <th id="tore">{{ form_widget(form.debit1bm, {
                                            'label_attr': {'class': 'form_control'}}
                                        ) }}</th>
                                    <th  style="padding-left: 1%"><label id="modifyde_debit1bm-error" class="error" for="modifyde_debit1bm"></label></th>
                                </tr>
                                <tr id="debit2bm" style="display: none">
                                    <th id="tof"> {{ form_label(form, 'Cout débité pendant le codage (%)', {
                                            'label_attr': {'class': 'input-group-text','id': 'debit2bm'}}) }}</th>
                                    <th id="tore">{{ form_widget(form.debit2bm, {
                                            'label_attr': {'class': 'form_control'}}
                                        ) }}</th>
                                    <th  style="padding-left: 1%"><label id="modifyde_debit2bm-error" class="error" for="modifyde_debit2bm"></label></th>
                                </tr>
                                <tr id="debit3bm" style="display: none">
                                    <th id="tof"> {{ form_label(form, 'Cout débité pendant le test  (%)', {
                                            'label_attr': {'class': 'input-group-text','id': 'debit3bm'}}) }}</th>
                                    <th id="tore">{{ form_widget(form.debit3bm, {
                                            'label_attr': {'class': 'form_control'}}
                                        ) }}</th>
                                    <th style="padding-left: 1%"><label id="modifyde_debit3bm-error" class="error" for="modifyde_debit3bm"></label></th>
                                </tr>
                                <tr id="debit4bm" style="display: none">
                                    <th id="tof"> {{ form_label(form, 'Cout débité pendant la recette (%)', {
                                            'label_attr': {'class': 'input-group-text','id': 'debit4bm'}}) }}</th>
                                    <th id="tore">{{ form_widget(form.debit4bm, {
                                            'label_attr': {'class': 'form_control'}}
                                        ) }}</th>
                                    <th style="padding-left: 1%"><label id="modifyde_debit4bm-error" class="error" for="modifyde_debit4bm"></label></th>
                                </tr>
                            </table>
                        </div>
                        <p id="tauxerror"></p>
                        {% macro information_prototype(modalite) %}

                            <br>
                            <table>
                                <tr>
                                    <p>Jalon</p>
                                </tr>
                                <tr>
                                    <th>
                                        {{ form_label(modalite.conditions, 'Condition', {
                                            'label_attr': {'class': 'input-group-text'}}) }}
                                    </th>
                                    <th>
                                        {{ form_widget(modalite.conditions, {
                                            'label_attr': {'class': 'form_control'}}
                                        ) }}
                                    </th>

                                </tr>
                                <tr>
                                    <th>
                                        <div id="addressList">
                                            {{ form_label(modalite.pourcentage, 'Pourcentage', {
                                                'label_attr': {'class': 'input-group-text'}}) }}</div>
                                    </th>
                                    <th>
                                        {{ form_widget(modalite.pourcentage, {
                                            'label_attr': {'class': 'form_control'}}
                                        ) }}
                                    </th>

                                </tr>
                                <tr>
                                    <th>
                                        {{ form_label(modalite.description, 'Commentaire', {
                                            'label_attr': {'class': 'input-group-text'}}) }}
                                    </th>
                                    <th>
                                        {{ form_widget(modalite.description, {
                                            'label_attr': {'class': 'form_control'}}
                                        ) }}
                                    </th>
                                </tr>
                            </table>
                            <br>
                        {% endmacro %}
                        <ul  class="modalites" style="list-style-type: none;" data-prototype="  {{ _self.information_prototype(form.modalites.vars.prototype)|e }}">

                            {% for modaliteField in form.modalites  %}

                                {% set break = false  %}
                                {% for mod in modalis %}
                                    {% if (mod.pourcentage==modaliteField.pourcentage.vars.value) and (mod.isapproved==true) %}
                                        {% set break=true %}
                                    {% endif %}
                                {% endfor %}


                                {% if break == true %}

                                    <table>
                                        <tr>
                                            <p>Jalon</p>
                                        </tr>
                                        <tr>
                                            <th>
                                                {{ form_label(modaliteField.conditions, 'Condition *', {
                                                    'label_attr': {'class': 'input-group-text '}}) }}
                                            </th>
                                            <th>
                                                {{ form_widget(modaliteField.conditions,  { 'attr':{'disabled':'disabled'},
                                                    'label_attr': {'class': 'form_control '}}
                                                ) }}
                                            </th>

                                        </tr>

                                        <tr>
                                            <th>
                                                <div id="addressList">
                                                    {{ form_label(modaliteField.pourcentage, 'Pourcentage *', {
                                                        'label_attr': {'class': 'input-group-text '}}) }}</div>
                                            </th>
                                            <th>
                                                {{ form_widget(modaliteField.pourcentage,  { 'attr':{'disabled':'disabled'},
                                                    'label_attr': {'class': 'form_control'}}
                                                ) }}
                                            </th>

                                        </tr>
                                        <tr>
                                            <th>
                                                {{ form_label(modaliteField.description, 'Commentaire', {
                                                    'label_attr': {'class': 'input-group-text'}}) }}
                                            </th>
                                            </th>
                                            <th>
                                                {{ form_widget(modaliteField.description,  { 'attr':{'disabled':'disabled'},
                                                    'label_attr': {'class': 'form_control'}}
                                                ) }}
                                            </th>
                                        </tr>
                                    </table>

                                    <br>
                                {% else %}
                                    <li>
                                        <table>
                                            <tr>
                                                <p>Jalon</p>
                                            </tr>
                                            <tr>
                                                <th>
                                                    {{ form_label(modaliteField.conditions, 'Condition *', {
                                                        'label_attr': {'class': 'input-group-text '}}) }}
                                                </th>
                                                <th>
                                                    {{ form_widget(modaliteField.conditions, {
                                                        'label_attr': {'class': 'form_control '}}
                                                    ) }}
                                                </th>

                                            </tr>

                                            <tr>
                                                <th>
                                                    <div id="addressList">
                                                        {{ form_label(modaliteField.pourcentage, 'Pourcentage *', {
                                                            'label_attr': {'class': 'input-group-text '}}) }}</div>
                                                </th>
                                                <th>
                                                    {{ form_widget(modaliteField.pourcentage, {
                                                        'label_attr': {'class': 'form_control'}}
                                                    ) }}
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>
                                                    {{ form_label(modaliteField.description, 'Commentaire', {
                                                        'label_attr': {'class': 'input-group-text'}}) }}
                                                </th>
                                                <th>
                                                    {{ form_widget(modaliteField.description, {
                                                        'label_attr': {'class': 'form_control'}}
                                                    ) }}
                                                </th>
                                            </tr>
                                        </table>
                                        <br>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>



                    {%else %}

                        <div class="input-group mb-3" style="width: 50%">
                            <table>
                                <tr style="display: none">
                                    <th width="15%" >
                                        {{ form_label(form, 'Durée de la garantie (mois)', {
                                            'label_attr': {'class': 'input-group-text'}}) }}</th>
                                    <th id="tore">
                                        {{ form_widget(form.garanti, {
                                            'label_attr': {'class': 'form_control'}}
                                        ) }}
                                    </th>
                                    <th style="padding-left: 1%"><label id="modifyde_garanti-error" class="error" for="modifyde_garanti"></label></th>
                                </tr>
                                <tr id="debit1bm" style="display: block">
                                    <th id="tof"> {{ form_label(form, 'Cout débité pendant la conception (%)', {
                                            'label_attr': {'class': 'input-group-text','id': 'debit1bm'}}) }}</th>
                                    <th id="tore">{{ form_widget(form.debit1bm, {
                                            'label_attr': {'class': 'form_control'}}
                                        ) }}</th>
                                    <th style="padding-left: 1%"><label id="modifyde_debit1bm-error" class="error" for="modifyde_debit1bm"></label></th>
                                </tr>
                                <tr id="debit2bm" style="display: block">
                                    <th id="tof"> {{ form_label(form, 'Cout débité pendant le codage (%)', {
                                            'label_attr': {'class': 'input-group-text','id': 'debit2bm'}}) }}</th>
                                    <th id="tore">{{ form_widget(form.debit2bm, {
                                            'label_attr': {'class': 'form_control'}}
                                        ) }}</th>
                                    <th style="padding-left: 1%"><label id="modifyde_debit2bm-error" class="error" for="modifyde_debit2bm"></label></th>
                                </tr>
                                <tr id="debit3bm" style="display:block">
                                    <th id="tof"> {{ form_label(form, 'Cout débité pendant le test  (%)', {
                                            'label_attr': {'class': 'input-group-text','id': 'debit3bm'}}) }}</th>
                                    <th id="tore">{{ form_widget(form.debit3bm, {
                                            'label_attr': {'class': 'form_control'}}
                                        ) }}</th>
                                    <th style="padding-left: 1%"><label id="modifyde_debit3bm-error" class="error" for="modifyde_debit3bm"></label></th>
                                </tr>
                                <tr id="debit4bm" style="display: block">
                                    <th id="tof"> {{ form_label(form, 'Cout débité pendant la recette (%)', {
                                            'label_attr': {'class': 'input-group-text','id': 'debit4bm'}}) }}</th>
                                    <th id="tore">{{ form_widget(form.debit4bm, {
                                            'label_attr': {'class': 'form_control'}}
                                        ) }}</th>
                                    <th style="padding-left: 1%"><label id="modifyde_debit4bm-error" class="error" for="modifyde_debit4bm"></label></th>
                                </tr>
                            </table>
                        </div>

                    {% endif %}


                </div>
                <div id="step-6" class="tab-pane" role="tabpanel" aria-labelledby="step-6">
                    {% macro information_myprototype(commentaire) %}
                        <br>
                        <table style="border-color: white;width:100%">
                            <tr style="border-color: white">
                                <th width="10%">
                                    {{ form_label(commentaire.description, 'Commentaire *', {
                                        'label_attr': {'class': 'input-group-text'}}) }}
                                </th>
                                <th id="tore">
                                    {{ form_widget(commentaire.description, {
                                        'label_attr': {'class': 'form_control'}}
                                    ) }}
                                </th>
                                <th style="padding-left: 1%"><label id="modifyde_commentaires-error" class="error" for="modifyde_commentaires"></label></th>

                            </tr>

                        </table>
                        <br>


                    {% endmacro %}
                    <ul class="commentaires" style="list-style-type: none;" data-prototype="  {{ _self.information_myprototype(form.commentaires.vars.prototype)|e }}">

                        {% for commentairesField in form.commentaires %}

                            <li>
                                <table style="border-color: white;width:100%">
                                    <tr style="border-color: white">
                                        <th width="10%">

                                            {{ form_label(form, 'Commentaire *', {
                                                'label_attr': {'class': 'input-group-text'}}) }}</th>
                                        <th id="tore">
                                            {{ form_widget(commentairesField.description, {
                                                'label_attr': {'class': 'form_control'}}
                                            ) }}
                                        </th>
                                        <th style="padding-left: 1%"><label id="modifyde_commentaires-error" class="error" for="modifyde_commentaires"></label></th>
                                    </tr>
                                    <br>
                                </table>
                            </li>
                        {% endfor %}


                    </ul>

                </div>
                <div id="step-7" class="tab-pane" role="tabpanel" aria-labelledby="step-7">
                    <h4> Veuillez vérifier vos données avant de soumettre le formulaire </h4>
                    <div id="all">
                        <div id="description">
                            <h4>Description</h4>
                            <p id="refof" > </p>
                            <p id="chefprojet" > </p>
                            <p id="phaseof" > </p>
                            <p id="domaineof" > </p>
                            <p id="sdomaineof" > </p>
                            <p id="fournisseurof" > </p>
                            <p id="typebuof"> </p>
                            <p id="datespecof" > </p>

                            <p id="descriptionof" > </p>
                        </div>

                        <div id="avanof">
                            <h4>Avancement</h4>
                            <p id="tauxof" > </p>
                            <p id="planningof"> </p>
                            <p id="prioriteof" > </p>
                            <p id="risqueof"> </p>
                        </div>

                        <div id="planningof">
                            <h4>Planification</h4>

                            <p id="datereell1of"> </p>
                            <p id="datereel0of"> </p>
                            <p id="datereel1of"> </p>
                            <p id="date2of"> </p>
                            <p id="date3of"> </p>

                        </div>

                        <div id = "coutof" >
                            <h4>Coût</h4>
                            <p id="coutofp"> </p>
                        </div>

                        <div id = "modaliteof" >
                            <h4>Modalités de réception</h4>
                            <p id="modeof"> </p>
                            <p id="debit1of"> </p>
                            <p id="debit2of"> </p>
                            <p id="debit3of"> </p>
                            <p id="debit4of"> </p>

                            <p id="garantiof"> </p>

                            <div style="display: none" id="jalonof">
                                Liste des jalons :
                                <p id="jaonof"></p>
                            </div>

                        </div>


                        <div style="display: none" id="commenof">
                            <h4>Commentaires</h4>
                            <p id="comof"></p>
                        </div>
                    </div>



                </div>

            </div>
        </div>
        {#        </form>#}

        {{ form_end(form) }}
    </main>
    </body>


{% endblock  %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/smartwizard@5/dist/js/jquery.smartWizard.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-visible/1.2.0/jquery.visible.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/additional-methods.js" type="text/javascript"></script>
    <script src=" https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/additional-methods.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>


        jQuery(document).ready(function () {
            var $collectionHolderCom;
            var $boutonAjouterCom = $('<button type="button" className="btn-toolbar add_commentaire_link sm btn btn-sm text-black"style="background-color: lightgrey">Ajouter un commentaire</button>');
            var $nouveauCom = $('<li></li>').append($boutonAjouterCom )
            ;
            $collectionHolderCom = $('ul.commentaires');
            $collectionHolderCom.find('li').each(function () {
                addCommentaireFormDeleteLinkCom($(this));
            });
            $collectionHolderCom.append($nouveauCom);
            var index=0;
            {% for commentaire in form.commentaires %}
            index=index+1;
            {% endfor %}
            $collectionHolderCom.data('index', index);
            $boutonAjouterCom.on('click', function (e) {
                addCommentaireFormCom($collectionHolderCom, $nouveauCom);
            });


            function addCommentaireFormCom($collectionHolderCom, $newLinkLiCom) {
                var prototype = $collectionHolderCom.data('prototype');
                var index = $collectionHolderCom.data('index');
                var newFormCom = prototype;
                newFormCom = newFormCom.replace(/__name__/g, index);
                $collectionHolderCom.data('index', index + 1);
                var $newFormLiCom = $('<li></li>').append(newFormCom);
                $newLinkLiCom.before($newFormLiCom);
                addCommentaireFormDeleteLinkCom($newFormLiCom);
                document.getElementById('smartwizard').style.height = "200%";
                document.getElementById('tab-content').style.height = "200%";
            }
            function addCommentaireFormDeleteLinkCom($tagFormLiCom) {
                var $removeFormButtonCom = $('<button type="button" class="btn-toolbar btn btn-sm text-black" style="background-color: lightgrey; margin-bottom: 2%; font-size: 1em ">Supprimer le commentaire</button>');
                $tagFormLiCom.append($removeFormButtonCom);
                $removeFormButtonCom.on('click', function (e) {
                    $tagFormLiCom.remove();
                });
            }
        });

    </script>
    <script>




        $(document).ready(function () {
            $.validator.messages.required = 'Ce champ est requis';
            $.validator.messages.pattern='Le format rentré est incorrect';
            /*  $('.phased_fournisseur').change(function() {
                  $phasin=document.getElementById('phased_fournisseur').value;
                  $.ajax({
                  method: "POST",
                  url://
            data: {id: $phasin},
            dataType: "json",
            success: function(html) {
                console.log(html);
                }


        }).done( function(response) {
            //alert(123);
            var htmlToDisplay = response.trim();
            $("#your_div").html(response);
        }).fail(function(jxh,textmsg,errorThrown){
            console.log(textmsg);
            console.log(errorThrown);
        });
        });
 })



*/

            if (document.getElementById('modifyde_paiement').options[document.getElementById('modifyde_paiement').selectedIndex].value== '2') {
                document.getElementById('modifyde_debit1bm').required=false;
                document.getElementById('modifyde_debit2bm').required=false;
                document.getElementById('modifyde_debit3bm').required=false;
                document.getElementById('modifyde_debit4bm').required=false;
                document.getElementById('modifyde_garanti').required=true;
            }else{
                document.getElementById('modifyde_debit1bm').required=true;
                document.getElementById('modifyde_debit2bm').required=true;
                document.getElementById('modifyde_debit3bm').required=true;
                document.getElementById('modifyde_debit4bm').required=true;
                document.getElementById('modifyde_garanti').required=false;
            }
            {% if not  is_granted('ROLE_ADMIN') %}
            document.getElementById('modifyde_userchef').setAttribute('disabled','disabled');
            {% endif %}





            var btnFinish = $('<button></button>').text('Valider').addClass('btn btn-info sw-btn-group-extra d-none')
                .on('click', function(){


                    var mods=new Array();
                    {% for modali in modalis %}
                    mods.push({{ modali.pourcentage }});
                    {% endfor %}
                    for (jm=0;jm<mods.length;jm++){
                        document.getElementById('modifyde_modalites_' + [jm] + '_conditions').removeAttribute("disabled");
                        document.getElementById('modifyde_modalites_' + [jm] + '_pourcentage').removeAttribute("disabled");
                        document.getElementById('modifyde_modalites_' + [jm] + '_description').removeAttribute("disabled");
                    }

                    {% if not  is_granted('ROLE_ADMIN') %}
                    document.getElementById('modifyde_userchef').removeAttribute('disabled');
                    {% endif %}
                    onsubmit();


                });

            var tarifs=new Array();
            var tarifsname=new Array();
            {% for cout in couts %}
            tarifs.push({{ cout.tarif }});
            tarifsname.push('{{ cout.name }}');
            {% endfor %}
            var prixav=0;
            for (j=0;j<tarifs.length;j++){
                prixav=prixav+((document.getElementById('modifyde_couts_'+[j]+'_nombreprofil').value)*tarifs[j]);
                //nb.push(document.getElementById('modifyde_couts_'+[i]+'_nombreprofil').value);
            }
            document.getElementById('price').innerText='Le prix du projet est de '+ prixav+' {{ fournisseur.devise }}';
            if(document.getElementById("modifyde_datereel0").value==''){
                document.getElementById("modifyde_datereel0").required=false;
                document.getElementById('navdate0').style.display="none";
            }
            if(document.getElementById("modifyde_datereell1").value==''){
                document.getElementById("modifyde_datereell1").required=false;
                document.getElementById('navdatel1').style.display="none";

            }

            if(document.getElementById("modifyde_datereel1").value==''){
                document.getElementById("modifyde_datereel1").required=false;
                document.getElementById('navdate1').style.display="none";
            }




            //

            // <div id="divprix" style="display: none"><p>Le projet coutera</p><p id="price"></p></div>

            //alert(prix);
            var prix=0;
            $('.id_nombreprofil').change(function (){
                var prix=0;
                for (i=0;i<tarifs.length;i++){
                    prix=prix+((document.getElementById('modifyde_couts_'+[i]+'_nombreprofil').value)*tarifs[i]);
                    //nb.push(document.getElementById('modifyde_couts_'+[i]+'_nombreprofil').value);
                }
                document.getElementById('price').innerText='Le prix du projet est de '+prix +' {{ fournisseur.devise}}';
                document.getElementById('smartwizard').style.height = "200%";
                document.getElementById('tab-content').style.height = "200%";

            });





            $('#smartwizard').smartWizard({
                selected: 0, // Initial selected step, 0 = first step
                theme: 'arrows', // theme for the wizard, related css need to include for other than default theme
                justified: true, // Nav menu justification. true/false
                darkMode:false, // Enable/disable Dark Mode if the theme supports. true/false
                autoAdjustHeight: true, // Automatically adjust content height
                cycleSteps: false, // Allows to cycle the navigation of steps
                backButtonSupport: true, // Enable the back button support
                enableURLhash: false, // Enable selection of the step based on url hash
                transition: {
                    animation: 'none', // Effect on navigation, none/fade/slide-horizontal/slide-vertical/slide-swing
                    speed: '400', // Transion animation speed
                    easing:'' // Transition animation easing. Not supported without a jQuery easing plugin
                },
                toolbarSettings: {
                    toolbarPosition: 'bottom', // none, top, bottom, both
                    toolbarButtonPosition: 'right', // left, right, center
                    showNextButton: true, // show/hide a Next button
                    showPreviousButton: true, // show/hide a Previous button
                    toolbarExtraButtons: [btnFinish] // Extra buttons to show on toolbar, array of jQuery input/buttons elements

                },
                anchorSettings: {
                    anchorClickable: false, // Enable/Disable anchor navigation
                    enableAllAnchors: false, // Activates all anchors clickable all times
                    markDoneStep: true, // Add done state on navigation
                    markAllPreviousStepsAsDone: true, // When a step selected by url hash, all previous steps are marked done
                    removeDoneStepOnNavigateBack: false, // While navigate back done step after active step will be cleared
                    enableAnchorOnDoneStep: true, // Enable/Disable the done steps navigation
                    enableAnchorOnDoneStep: true // Enable/Disable the done steps navigation
                },
                keyboardSettings: {
                    keyNavigation: true, // Enable/Disable keyboard navigation(left and right keys are used if enabled)
                    keyLeft: [37], // Left key code
                    keyRight: [39] // Right key code
                },
                lang: { // Language variables for button
                    next: 'Suivant',
                    previous: 'Précédant'
                },
                disabledSteps: [], // Array Steps disabled
                errorSteps: [], // Highlight step with errors
                hiddenSteps: [], // Hidden steps

            });













            function validateSteps(stepnumber){
                var isStepValid = true;
                if(stepnumber==1){
                    if(document.getElementById('modifyde_taux').value <0) {
                        isStepValid=false;
                        document.getElementById('messerrortaux').innerText='Le valeur du taux doit être compris entre 0 et 100'
                    }
                    else if(document.getElementById('modifyde_taux').value >100) {
                        isStepValid=false;
                        document.getElementById('messerrortaux').innerText='Le valeur du taux doit être compris entre 0 et 100'
                    }
                    else{
                        isStepValid=true;
                    }
                }
                if(stepnumber==3){
                    for (var i = 0; i < tarifs.length; i++) {
                        if((document.getElementById('modifyde_couts_' + [i] + '_nombreprofil').value)<0){

                            isStepValid = false;
                            document.getElementById('messageerrorprix').innerText='La valeur du profil '+ tarifsname[i] + ' est  incorrecte ; '+ document.getElementById('modifyde_couts_' + [i] + '_nombreprofil').value + ' est une valeur négative';
                            break;
                        }
                        else {
                            isStepValid = true;
                            document.getElementById('messageerrorprix').innerText='';
                        }



                    }
                }
                if(stepnumber==4){
                    $phasing3=document.getElementById('modifyde_paiement');

                    var selectValue3 = $phasing3.options[$phasing3.selectedIndex].value;

                    if (selectValue3 == '2') {

                        var modavant = new Array();
                        {% for moda in modalis %}
                        modavant.push({{ moda.pourcentage }});
                        {% endfor %}


                        var tailletaux = $('ul.modalites').find('input').length;
                        var jalontaille = $('ul.modalites').find('input').length;
                        var jalondif=new Array();
                        var jalontaux=new Array();
                        var x=0;
                        while(jalondif.length!=jalontaille){
                            if((!!document.getElementById('modifyde_modalites_' + [x]+'_conditions'))==true) {
                                jalontaux.push(parseInt(document.getElementById('modifyde_modalites_' + [x]+'_pourcentage').value));
                                jalondif.push(document.getElementById('modifyde_modalites_' + [x]+'_conditions').value);
                            }
                            x=x+1;
                        }

                        let resultToReturn = false;
                        let supe=false;
                        let infto=false;
                        let infpour = false;
                        let doublepo = false;
                        resultToReturn=new Set(jalondif).size !== jalondif.length;
                        doublepo=new Set(jalontaux).size !== jalontaux.length;

                        for (a = 0; a < jalontaux.length; a++) {
                            if (jalontaux[a]<= 0) {
                                infto=true;
                                break
                            }
                            else if (jalontaux[a]> 100) {
                                supe=true;
                                break
                            }
                            else if ((jalontaux[a] <= {{ pourapproved }})&&(!modavant.includes(jalontaux[a]))) {
                                infpour = true;
                                break
                            }
                        }
                        if(resultToReturn == true){
                            document.getElementById('smartwizard').style.height = "200%";
                            document.getElementById('tab-content').style.height = "200%";
                            document.getElementById('tauxerror').innerText='Des conditions sont identiques';
                            isStepValid=false;
                        }
                        else if (doublepo == true) {
                            document.getElementById('smartwizard').style.height = "200%";
                            document.getElementById('tab-content').style.height = "200%";
                            document.getElementById('tauxerror').innerText = 'Des conditions sont identiques';
                            isStepValid = false;
                        }
                        else if (infto == true) {
                            document.getElementById('smartwizard').style.height = "200%";
                            document.getElementById('tab-content').style.height = "200%";
                            document.getElementById('tauxerror').innerText = 'Le pourcentage des jalons ne peut pas être négatif';
                            isStepValid = false;
                        }
                        else if (infpour == true) {
                            document.getElementById('smartwizard').style.height = "200%";
                            document.getElementById('tab-content').style.height = "200%";
                            document.getElementById('tauxerror').innerText = 'Le pourcentage des jalons ne peut pas être inférieure à '+{{ pourapproved }} +' %';
                            isStepValid = false;
                        }
                        else if (supe == true){
                            document.getElementById('smartwizard').style.height = "200%";
                            document.getElementById('tab-content').style.height = "200%";
                            document.getElementById('tauxerror').innerText='Le pourcentage des jalons ne peut pas être supérieur à 100%';
                            isStepValid=false;
                        }
                        else{
                            document.getElementById('tauxerror').innerText='';
                            isStepValid=true;
                        }
                    }
                    else {
                        if (document.getElementById('modifyde_debit1bm').value < 0) {
                            document.getElementById('modifyde_debit1bm-error').innerText = 'La valeur ne peut pas être négative';
                            document.getElementById('modifyde_debit1bm-error').style.display = 'block';

                            isStepValid = false;
                        } else if (document.getElementById('modifyde_debit2bm').value < 0) {
                            document.getElementById('modifyde_debit2bm-error').innerText = 'La valeur ne peut pas être négative';
                            document.getElementById('modifyde_debit2bm-error').style.display = 'block';
                            isStepValid = false;
                        } else if (document.getElementById('modifyde_debit3bm').value < 0) {
                            document.getElementById('modifyde_debit3bm-error').innerText = 'La valeur ne peut pas être négative';
                            document.getElementById('modifyde_debit3bm-error').style.display = 'block';
                            isStepValid = false;
                        }
                        else if (document.getElementById('modifyde_debit4bm').value < 0) {
                            document.getElementById('modifyde_debit4bm-error').innerText = 'La valeur ne peut pas être négative';
                            document.getElementById('modifyde_debit4bm-error').style.display = 'block';
                            isStepValid = false;
                        }
                        else if (((parseFloat(document.getElementById('modifyde_debit1bm').value) + parseFloat(document.getElementById('modifyde_debit2bm').value) + parseFloat(document.getElementById('modifyde_debit3bm').value) + parseFloat(document.getElementById('modifyde_debit4bm').value))) != 100) {
                            document.getElementById('modifyde_debit4bm-error').innerText = 'La somme des pourcentages doit être égale à 100%, si vous avez rentrez un nombre floatant, assurez vous qu\'il possède un point';
                            document.getElementById('modifyde_debit4bm-error').style.display = 'block';
                            isStepValid = false;
                        }
                        else {
                            document.getElementById('modifyde_debit1bm-error').innerText = '';
                            document.getElementById('modifyde_debit2bm-error').innerText = '';
                            document.getElementById('modifyde_debit3bm-error').innerText = '';
                            document.getElementById('modifyde_debit4bm-error').innerText = '';

                            document.getElementById('modifyde_debit1bm-error').style.display = 'none';
                            document.getElementById('modifyde_debit2bm-error').style.display = 'none';
                            document.getElementById('modifyde_debit3bm-error').style.display = 'none';
                            document.getElementById('modifyde_debit4bm-error').style.display = 'none';


                            isStepValid = true;
                        }
                    }
                }//endif step 3


                document.getElementById('chefprojet').innerText = 'Chef de projet : ' + document.getElementById('modifyde_userchef').options[document.getElementById('modifyde_userchef').selectedIndex].innerText;
                document.getElementById('refof').innerText = 'Référence : ' + document.getElementById('modifyde_reference').value;
                document.getElementById('phaseof').innerText = 'Phase : ' + document.getElementById('modifyde_Phase').options[document.getElementById('modifyde_Phase').selectedIndex].innerText;
                document.getElementById('domaineof').innerText = 'Domaine : ' + document.getElementById('modifyde_domaine').value;
                document.getElementById('sdomaineof').innerText = 'Sous-domaine : ' + document.getElementById('modifyde_sdomaine').value;
                document.getElementById('fournisseurof').innerText = 'Fournisseur : ' + document.getElementById('modifyde_fournisseur').options[document.getElementById('modifyde_fournisseur').selectedIndex].innerText;
                document.getElementById('typebuof').innerText = 'Type de BU : ' + document.getElementById('modifyde_typebu').options[document.getElementById('modifyde_typebu').selectedIndex].innerText;
                document.getElementById('datespecof').innerText = 'Date des spécifications : ' + new Date(document.getElementById('modifyde_datespec').value).toJSON().slice(0,10).split('-').reverse().join('/');
                if ((document.getElementById('modifyde_priorite').options[document.getElementById('modifyde_priorite').selectedIndex].value != '')) {
                    document.getElementById('prioriteof').innerText = 'Priorité : ' + document.getElementById('modifyde_priorite').options[document.getElementById('modifyde_priorite').selectedIndex].innerText;
                }
                if ((document.getElementById('modifyde_risque').options[document.getElementById('modifyde_risque').selectedIndex].value != '')) {
                    document.getElementById('risqueof').innerText = 'Risque : ' + document.getElementById('modifyde_risque').options[document.getElementById('modifyde_risque').selectedIndex].innerText;
                }
                document.getElementById('descriptionof').innerText = 'Description : ' + document.getElementById('modifyde_description').value;
                document.getElementById('tauxof').innerText = 'Taux d\'avancement (en %) : ' + document.getElementById('modifyde_taux').value;
                document.getElementById('planningof').innerText = 'Priorité : ' + document.getElementById('modifyde_isplanningrespecte').options[document.getElementById('modifyde_isplanningrespecte').selectedIndex].innerText;
                if ((document.getElementById('modifyde_datereell1').value != '')) {
                    document.getElementById('datereell1of').innerText = 'Date réel T-1 : ' + new Date(document.getElementById('modifyde_datereell1').value).toJSON().slice(0,10).split('-').reverse().join('/');
                }
                if ((document.getElementById('modifyde_datereel0').value != '')) {
                    document.getElementById('datereel0of').innerText = 'Date réel T0 : ' + new Date(document.getElementById('modifyde_datereel0').value).toJSON().slice(0,10).split('-').reverse().join('/');
                }
                if ((document.getElementById('modifyde_datereel1').value != '')) {
                    document.getElementById('datereel1of').innerText = 'Date T1 : ' + new Date(document.getElementById('modifyde_datereel1').value).toJSON().slice(0,10).split('-').reverse().join('/');
                }
                if ((document.getElementById('modifyde_date2').value != '')) {
                    document.getElementById('date2of').innerText = 'Date T2 : ' + new Date(document.getElementById('modifyde_date2').value).toJSON().slice(0,10).split('-').reverse().join('/');
                }
                if ((document.getElementById('modifyde_date3').value != '')) {
                    document.getElementById('date3of').innerText = 'Date T3 : ' + new Date(document.getElementById('modifyde_date3').value).toJSON().slice(0,10).split('-').reverse().join('/');
                }

                var tarifsof = new Array();
                var tarifsnameof = new Array();
                var nbprotarifsof = new Array();
                {% for cout in couts %}
                tarifsof.push({{ cout.tarif }});
                tarifsnameof.push('{{ cout.name }}');

                {% endfor %}


                var prixof = 0;
                for (iof = 0; iof < tarifsof.length; iof++) {
                    prixof = prixof + ((document.getElementById('modifyde_couts_' + [iof] + '_nombreprofil').value) * tarifsof[iof]);
                    nbprotarifsof.push(document.getElementById('modifyde_couts_' + [iof] + '_nombreprofil').value);
                }
                textcoutof = '';
                for (ibof = 0; ibof < tarifsof.length; ibof++) {
                    textcoutof = textcoutof + tarifsnameof[ibof] + ':  ' + nbprotarifsof[ibof] + '\n';
                }
                textcoutof = textcoutof + 'Le prix du projet est de ' + prixof + ' {{ fournisseur.devise }}';
                document.getElementById('coutofp').innerText = textcoutof;

                document.getElementById('modeof').innerText = 'Mode de paiement : ' + document.getElementById('modifyde_paiement').options[document.getElementById('modifyde_paiement').selectedIndex].innerText;
                if (document.getElementById('modifyde_paiement').options[document.getElementById('modifyde_paiement').selectedIndex].value == 1) {
                    document.getElementById('debit1of').innerText = 'Coût débité pendant la phase de conception : ' + document.getElementById('modifyde_debit1bm').value + ' %';
                    document.getElementById('debit2of').innerText = 'Coût débité pendant la phase de codage : ' + document.getElementById('modifyde_debit2bm').value + ' %';
                    document.getElementById('debit3of').innerText = 'Coût débité pendant la phase de test : ' + document.getElementById('modifyde_debit3bm').value + ' %';
                    document.getElementById('debit4of').innerText = 'Coût débité pendant la phase de recette : ' + document.getElementById('modifyde_debit4bm').value + ' %';
                    document.getElementById('garantiof').innerText = '';
                    document.getElementById('jalonof').style.display = 'none';
                } else {
                    document.getElementById('garantiof').innerText = 'Durée de la garantie (mois) : ' + document.getElementById('modifyde_garanti').value;
                    var tailletauxc = $('ul.modalites').find('input').length;
                    var jalondifc = new Array();
                    var jalontauxc = new Array();
                    var jaloncomc = new Array();
                    var xc = 0;
                    while (jalondifc.length != tailletauxc) {
                        if ((!!document.getElementById('modifyde_modalites_' + [xc] + '_conditions')) == true) {
                            jalontauxc.push(parseInt(document.getElementById('modifyde_modalites_' + [xc] + '_pourcentage').value));
                            jalondifc.push(document.getElementById('modifyde_modalites_' + [xc] + '_conditions').value);
                            jaloncomc.push(document.getElementById('modifyde_modalites_' + [xc] + '_description').value);
                        }
                        xc = xc + 1;
                    }
                    if (tailletauxc != 0) {
                        document.getElementById('jalonof').style.display = 'block';
                        var textof = '';
                        for (var ap = 0; ap < jalondifc.length; ap++) {
                            textof = textof + 'Condition : ' + jalondifc[ap] + ' , Pourcentage : ' + jalontauxc[ap] + ' %, Description : ';
                            if (jaloncomc[ap] != '') {
                                textof = textof + jaloncomc[ap] + '\n';
                            } else {
                                textof = textof + '/' + '\n';
                            }
                        }
                        document.getElementById('jaonof').innerText = textof;
                        document.getElementById('debit1of').innerText = '';
                        document.getElementById('debit2of').innerText = '';
                        document.getElementById('debit3of').innerText = '';
                        document.getElementById('debit4of').innerText = '';

                    } else {
                        document.getElementById('jalonof').style.display = 'none';
                    }
                }


                var comc = $('ul.commentaires').find('li').length-1;
                var comdifc = new Array();

                var xcp= 0;
                while (comdifc.length!=comc) {
                    if ((!!document.getElementById('modifyde_commentaires_' + [xcp]+ '_description')) == true) {
                        comdifc.push(document.getElementById('modifyde_commentaires_' + [xcp]+ '_description').value);
                    }
                    xcp= xcp+ 1;
                }

                if (comdifc.length!=0){
                    document.getElementById('commenof').style.display='block';
                    var comtext= '';
                    for ( var mlk=0;mlk<comdifc.length;mlk++) {
                        comtext=comtext+ 'Commentaire : '+comdifc[mlk]+'\n' ;
                    }
                    document.getElementById('comof').innerText=comtext;
                }
                else{
                    document.getElementById('commenof').style.display='none';
                }



                return isStepValid;
            }


            $('#smartwizard').on("leaveStep", function(e, anchorObject, stepNumber, stepDirection) {
                if ($('#myForm').valid()&&validateSteps(stepNumber)==true) {
                    if(stepDirection == "6") //here is the final step: Note: 0,1,2
                    {
                        $('.sw-btn-group-extra').removeClass('d-none');
                        $('.sw-btn-next').addClass('d-none');
                    }
                    else
                    {
                        $('.sw-btn-group-extra').addClass('d-none');
                        $('.sw-btn-next').removeClass('d-none');
                        return true;
                    }
                } else {
                    return false
                }
                return true;

            })
            var $collectionHolder;
            var $boutonAjouter = $('<button type="button" className="btn-toolbar add_modalite_link sm btn btn-sm text-black"style="background-color: lightgrey">Ajouter un jalon</button>');
            var $nouveau = $('<li></li>').append($boutonAjouter )
            ;
            jQuery(document).ready(function () {
                $collectionHolder = $('ul.modalites');
                $collectionHolder.find('li').each(function () {
                    addModaliteFormDeleteLink($(this));
                });
                $collectionHolder.append($nouveau);
                var mindex=0;
                {% for modalite in form.modalites %}
                mindex=mindex+1;
                {% endfor %}

                $collectionHolder.data('mindex',mindex);
                $boutonAjouter.on('click', function (e) {
                    addModaliteForm($collectionHolder, $nouveau);
                });

                function addModaliteForm($collectionHolder, $newLinkLi) {
                    var prototype = $collectionHolder.data('prototype');
                    var mindex = $collectionHolder.data('mindex');
                    var newForm = prototype;
                    newForm = newForm.replace(/__name__/g, mindex);

                    $collectionHolder.data('mindex', mindex +1 );
                    var $newFormLi = $('<li></li>').append(newForm);
                    $newLinkLi.before($newFormLi);
                    addModaliteFormDeleteLink($newFormLi);
                    document.getElementById('smartwizard').style.height = "200%";
                    document.getElementById('tab-content').style.height = "200%";
                }

                function addModaliteFormDeleteLink($tagFormLi) {
                    var $removeFormButton = $('<button type="button" class="btn-toolbar btn btn-sm text-black" style="background-color: lightgrey; margin-bottom: 2%; font-size: 1em ">Supprimer le jalon</button>');
                    $tagFormLi.append($removeFormButton);
                    $removeFormButton.on('click', function (e) {
                        $tagFormLi.remove();
                    });
                }
            })



























        })

    </script>


{% endblock  %}