{% extends 'base.html.twig' %}

 {% block stylesheets %}
     {{ parent() }}
     <link rel="stylesheet" href="{{ asset('css/connexion.css') }}" />
     <link href="https://cdn.jsdelivr.net/npm/smartwizard@5/dist/css/smart_wizard_all.min.css" rel="stylesheet" type="text/css" />
     <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
     <style>

         input#projet_reference, select#projet_user, select#projet_Phase.projet_Phase,
         input#projet_domaine,input#projet_sdomaine, select#projet_fournisseur.projet_fournisseur,
         select#projet_typebu.projet_typebu,select#projet_priorite,select#projet_risque,
         input#projet_garanti,select#projet_modalites,input#projet_modalites,
         input#projet_debit1bm,input#projet_debit2bm,input#projet_debit3bm,textarea#projet_description
         {
             width: 100%;

         }


         textarea {

             width: 60%;
         }

         .sw-theme-arrows>.nav .nav-link.done {
             border-color: darkgrey;
             border-top-color: darkgrey;
             border-right-color: darkgrey;
             border-bottom-color: darkgrey;
             border-left-color: darkgrey;
             background: darkgrey;
             background-color: darkgrey;
         }

         .sw-theme-arrows>.nav .nav-link.done::after {
             border-left-color: darkgrey;
         }

         .sw-theme-arrows>.nav .nav-link.done {
             border-color: darkgrey;
             border-top-color: darkgrey;
             border-right-color: darkgrey;
             border-bottom-color: darkgrey;
             border-left-color: darkgrey;
             background: darkgrey;
             background-color: darkgrey;
             color: black;
         }

         .sw-theme-arrows>.nav .nav-link.active {
             border-color: #FF7900;
             border-top-color: #FF7900;
             border-right-color: #FF7900;
             border-bottom-color: #FF7900;
             border-left-color: #FF7900;
             background: #FF7900;
             background-color:#FF7900;

             color: black;
         }

         .sw-theme-arrows>.nav .nav-link.active::after {
             border-left-color: #FF7900;
             color: black;
         }


         .sw-theme-arrows>.nav .nav-link.active {

             border-color: #FF7900;
             border-top-color: #FF7900;
             border-right-color: #FF7900;
             border-bottom-color: #FF7900;
             border-left-color: #FF7900;
             background-color:#FF7900;
             color: black;

         }

         .sw-theme-arrows .toolbar>.btn{
             background-color: #FF7900;
             border-color: #FF7900;
             color: black;
         }


         .select23  {
             /* for Firefox */
             -moz-appearance: none;
             /* for Chrome */
             -webkit-appearance: none;
         }

         /* For IE10 */
         .select23::-ms-expand {
             display: none;
         }
         #tocutlab{
             width:15%;
         }

         @media screen and (max-width: 600px)
         {
             thead, tbody, tfoot,  td {
                 width: 25%;
             }
             toreduc1{
                 width:100%;
             }
             #tocutlab{
                 width:30%;
             }
             select#projet_paiement.projet_paiement{
                 width: auto;}
             input#garanti,input#projet_debit1bm,input#projet_debit2bm,input#projet_debit3bm,textarea#projet_description {
                 width: auto;
             }


         }

     </style>


 {% endblock  %}

{% block body  %}
    <body class="d-flex flex-column">
    <main class="container-fluid flex-fill ">
        <br>
        <h1 class="text-center" >Ajout d'un projet </h1>
        <br>
        {{ form_start(form, {'attr': {'id': 'myForm'}}) }}
        <div id="smartwizard">

            <ul class="nav" >
                <li class="nav-item">
                    <a class="nav-link" href="#step-1">
                        Description
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#step-2">
                        Planification
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#step-3">
                        Modalités de réception
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#step-4">
                        Commentaire
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#step-5">
                        Confirmation
                    </a>
                </li>

            </ul>

            <div class="tab-content" id="tab-content">
                <div id="step-1" class="tab-pane" role="tabpanel" aria-labelledby="step-1">
                    <table style="border-color: white;width:100%">
                        <tr style="border-color: white">
                            <th class="toreduc" width="15%">

                                {{ form_label(form, 'Référence FL', {
                                    'label_attr': {'class': 'input-group-text'}}) }}</th>
                            <th class="toreduc" width="20%">
                                {{ form_widget(form.reference, {
                                    'label_attr': {'class': 'form_control'}}
                                ) }}
                            </th>
                            <th  width="50%" ></th>


                        </tr>
                        <tr>
                            <th> {{ form_label(form, 'Chef de projet', {
                                    'label_attr': {'class': 'input-group-text'}}) }}</th>
                            <th >{{ form_widget(form.user, {
                                    'label_attr': {'class': 'form_control'}}
                                ) }}</th>


                        </tr>

                        <tr style="border-color: white" >
                            <th>

                                {{ form_label(form, 'Phase *', {
                                    'label_attr': {'class': 'input-group-text'}}) }}</th>
                            <th  width="20%">
                                {{ form_widget(form.Phase, {
                                    'label_attr': {'class': 'form_control'}}
                                ) }}
                            </th>
                            <th style="padding-left: 1%"><label id="projet_Phase-error" class="error" for="projet_Phase"></label></th>


                        </tr>
                        <tr>
                            <th> {{ form_label(form, 'Domaine *', {
                                    'label_attr': {'class': 'input-group-text'}}) }}</th>
                            <th>{{ form_widget(form.domaine, {
                                    'label_attr': {'class': 'form_control'}}
                                ) }}</th>
                            <th style="padding-left: 1%"><label id="projet_domaine-error" class="error" for="projet_domaine"></label></th>


                        </tr>
                        <tr>
                            <th> {{ form_label(form, 'Sous-domaine *', {
                                    'label_attr': {'class': 'input-group-text','id': 'pedit'}}) }}</th>
                            <th>{{ form_widget(form.sdomaine, {
                                    'label_attr': {'class': 'form_control'}}
                                ) }}</th>
                            <th style="padding-left: 1%"><label id="projet_sdomaine-error" class="error" for="projet_sdomaine"></label></th>


                        </tr>

                        <tr>
                            <th> {{ form_label(form, 'Fournisseur *', {
                                    'label_attr': {'class': 'input-group-text'}}) }}</th>
                            <th>{{ form_widget(form.fournisseur, {
                                    'label_attr': {'class': 'form_control'}}
                                ) }}</th>
                            <th style="padding-left: 1%"><label id="projet_fournisseur-error" class="error" for="projet_fournisseur"></label></th>


                        </tr>

                        <tr>
                            <th> {{ form_label(form, 'Type de BU *', {
                                    'label_attr': {'class': 'input-group-text'}}) }}</th>
                            <th>{{ form_widget(form.typebu, {
                                    'label_attr': {'class': 'form_control'}}
                                ) }}</th>
                            <th style="padding-left: 1%"><label id="projet_typebu-error" class="error" for="projet_typebu"></label></th>


                        </tr>
                        <tr>
                            <th> {{ form_label(form, 'Priorité ', {
                                    'label_attr': {'class': 'input-group-text'}}) }}</th>
                            <th>{{ form_widget(form.priorite, {
                                    'label_attr': {'class': 'form_control'}}
                                ) }}</th>
                            <th style="padding-left: 1%"><label id="projet_priorite-error" class="error" for="projet_priorite"></label></th>


                        </tr>
                        <tr style="border-color: white">
                            <th>

                                {{ form_label(form, 'Risque', {
                                    'label_attr': {'class': 'input-group-text'}}) }}</th>
                            <th>
                                {{ form_widget(form.risque, {
                                    'label_attr': {'class': 'form_control'}}
                                ) }}
                            <th style="padding-left: 1%"><label id="projet_risque_error" class="error" for="projet_risque"></label></th>

                            </th>

                        </tr>

                        <tr>
                            <th> {{ form_label(form, 'Description *', {
                                    'label_attr': {'class': 'input-group-text'}}) }}</th>
                            <th>{{ form_widget(form.description, {
                                    'label_attr': {'class': 'form_control'}}
                                ) }}</th>
                            <th style="padding-left: 1%"><label id="projet_description-error" class="error" for="projet_description"></label></th>
                        </tr>


                    </table>

                </div>


                <div id="step-2" class="tab-pane" role="tabpanel" aria-labelledby="step-2">
                    <div id="navdate" style="display: none" >
                        Pas de dates demandées
                        <br>
                        Vous pouvez passer à l'étape suivante
                    </div>
                    <table style="border-color: white;width:100%">
                        <tr id="datel1">
                            <th id="tocutlab" > {{ form_label(form, 'Date T-1',{
                                    'label_attr': {'class': 'input-group-text','id': 'label_tl1'}}) }}</th>
                            <th width="20%">{{ form_widget(form.datel1, {
                                    'label_attr': {'class': 'form_control'}}
                                ) }}</th>
                            <th style="padding-left: 1%"><label id="projet_datel1-error" class="error" for="projet_datel1"></label></th>

                        </tr>
                        <tr id="date0">
                            <th id="tocutlab"  > {{ form_label(form, 'Date T0', {
                                    'label_attr': {'class': 'input-group-text','id': 'label_t0'}}) }}</th>
                            <th width="20%">{{ form_widget(form.date0, {
                                    'label_attr': {'class': 'form_control'}}
                                ) }}</th>
                            <th  style="padding-left: 1%"><label id="projet_date0-error" class="error" for="projet_date0"></label></th>
                        </tr>

                        <tr id="date1">
                            <th id="tocutlab" > {{ form_label(form, 'Date T1', {
                                    'label_attr': {'class': 'input-group-text','id': 'label_t1'}}) }}</th>
                            <th width="20%">{{ form_widget(form.date1, {
                                    'label_attr': {'class': 'form_control'}}
                                ) }}</th>
                            <th  style="padding-left: 1%"><label id="projet_date1-error" class="error" for="projet_date1"></label></th>
                        </tr>
                        <tr id="date2">
                            <th id="tocutlab" > {{ form_label(form, 'Date T2', {
                                    'label_attr': {'class': 'input-group-text','id': 'label_t2'}}) }}</th>
                            <th width="20%">{{ form_widget(form.date2, {
                                    'label_attr': {'class': 'form_control'}}
                                ) }}</th>
                            <th  style="padding-left: 1%"><label id="projet_date2-error" class="error" for="projet_date2"></label></th>
                        </tr>
                        <tr id="date3">
                            <th id="tocutlab" > {{ form_label(form, 'Date T3', {
                                    'label_attr': {'class': 'input-group-text','id': 'label_t3'}}) }}</th>
                            <th width="20%">{{ form_widget(form.date3, {
                                    'label_attr': {'class': 'form_control'}}
                                ) }}</th>
                            <th  style="padding-left: 1%"><label id="projet_date3-error" class="error" for="projet_date3"></label></th>
                        </tr>
                        <tr id="datespec">
                            <th id="tocutlab" > {{ form_label(form, 'Date de spécifications', {
                                    'label_attr': {'class': 'input-group-text','id': 'label_spec'}}) }}</th>
                            <th width="15%" >{{ form_widget(form.datespec, {
                                    'label_attr': {'class': 'form_control'}}
                                ) }}</th>
                            <th><label id="projet_datespec-error" class="error" for="projet_datespec"></label></th>
                        </tr>
                        <tr>
                            <th> <p id="messerror1"></p></th>
                        </tr>
                    </table>
                </div>




                <div id="step-3" class="tab-pane" role="tabpanel" aria-labelledby="step-3">

                    {% macro information_prototype(modalite) %}

                        <br>
                        <table width="100%">
                            <tr>
                                <th  width="15%">
                                    {{ form_label(modalite.conditions, 'Condition *', {
                                        'label_attr': {'class': 'input-group-text'}}) }}
                                </th>
                                <th  width="20%">
                                    {{ form_widget(modalite.conditions, {
                                        'label_attr': {'class': 'form_control'}}
                                    ) }}
                                </th>
                            </tr>
                            <tr>
                                <th  width="15%">
                                    <div id="addressList">
                                        {{ form_label(modalite.pourcentage, 'Pourcentage *', {
                                            'label_attr': {'class': 'input-group-text'}}) }}</div>
                                </th>
                                <th  width="20%">
                                    {{ form_widget(modalite.pourcentage, {
                                        'label_attr': {'class': 'form_control'}}
                                    ) }}
                                </th>
                            </tr>
                            <tr>
                                <th  width="15%">
                                    {{ form_label(modalite.description, 'Commentaire', {
                                        'label_attr': {'class': 'input-group-text'}}) }}
                                </th>
                                <th  width="20%">
                                    {{ form_widget(modalite.description, {
                                        'label_attr': {'class': 'form_control'}}
                                    ) }}
                                </th>
                            </tr>
                        </table>
                        <br>
                    {% endmacro %}
                    <br>
                    <p id="tauxerror"></p>
                    <div id="navmode" style="display: none">
                        Pas de modalités de réceptions demandées
                        <br>
                        Vous pouvez passer à l'étape suivante
                    </div>
                    <table width="100%">

                        <tr id="mode">
                            <th  width="15%"> {{ form_label(form, 'Mode de paiement *', {
                                    'label_attr': {'class': 'input-group-text'}}) }}</th>
                            <th  width="20%">{{ form_widget(form.paiement, {
                                    'label_attr': {'class': 'form_control'}}
                                ) }}</th>
                            <th   style="padding-left: 1%"><label id="projet_paiement-error" class="error" for="projet_paiement"></label></th>


                        </tr>
                        </tr>
                        <tr id="garanti" style="display: none">
                            <th width="15%"> {{ form_label(form, 'Durée de la garantie (mois)', {
                                    'label_attr': {'class': 'input-group-text','id': 'garanti'}}) }}</th>
                            <th width="20%">{{ form_widget(form.garanti, {
                                    'label_attr': {'class': 'form_control'}}
                                ) }}</th>
                            <th   style="padding-left: 1%"><label id="projet_garanti-error" class="error" for="projet_garanti"></label></th>

                        </tr>
                        <tr id="debit1bm" style="display: none">
                            <th width="15%"> {{ form_label(form, 'Cout débité pendant la conception (%)', {
                                    'label_attr': {'class': 'input-group-text','id': 'debit1bm'}}) }}</th>
                            <th width="20%">{{ form_widget(form.debit1bm, {
                                    'label_attr': {'class': 'form_control'}}
                                ) }}</th>
                            <th  style="padding-left: 1%"><label id="projet_debit1bm-error" class="error" for="projet_debit1bm"></label></th>
                        </tr>
                        <tr id="debit2bm" style="display: none">
                            <th width="15%"> {{ form_label(form, 'Cout débité pendant le codage (%)', {
                                    'label_attr': {'class': 'input-group-text','id': 'debit2bm'}}) }}</th>
                            <th width="20%">{{ form_widget(form.debit2bm, {
                                    'label_attr': {'class': 'form_control'}}
                                ) }}</th>
                            <th  style="padding-left: 1%"><label id="projet_debit2bm-error" class="error" for="projet_debit2bm"></label></th>

                        </tr>
                        <tr id="debit3bm" style="display: none">
                            <th width="15%"> {{ form_label(form, 'Cout débité pendant le test et recette (%)', {
                                    'label_attr': {'class': 'input-group-text','id': 'debit3bm'}}) }}</th>
                            <th width="20%">{{ form_widget(form.debit3bm, {
                                    'label_attr': {'class': 'form_control'}}
                                ) }}</th>
                            <th  style="padding-left: 1%"><label id="projet_debit3bm-error" class="error" for="projet_debit3bm"></label></th>
                        </tr>

                    </table>
                    <br>
                    <table>

                        <div id = "modalites" style="display: none">

                            <ul  class="modalites" style="list-style-type: none;" data-prototype="  {{ _self.information_prototype(form.modalites.vars.prototype)|e }}">
                            </ul>
                        </div>
                    </table>


                </div>
                <div id="step-4" class="tab-pane" role="tabpanel" aria-labelledby="step-4">
                    {% macro information_myprototype(commentaire) %}

                        <br>
                        <table>
                            <tr>
                                <th  width="15%">
                                    {{ form_label(commentaire.description, 'Condition *', {
                                        'label_attr': {'class': 'input-group-text'}}) }}
                                </th>
                                <th  width="20">
                                    {{ form_widget(commentaire.description, {
                                        'label_attr': {'class': 'form_control'}}
                                    ) }}
                                </th>
                            </tr>

                        </table>
                        <br>
                    {% endmacro %}
                    <ul  class="commentaires" style="list-style-type: none;" data-prototype="  {{ _self.information_myprototype(form.commentaires.vars.prototype)|e }}">
                    </ul>

                </div>
                <div id="step-5" class="tab-pane" role="tabpanel" aria-labelledby="step-5">
                    Veuillez vérifier vos données avant de soumettre le formulaire

                </div>

            </div>
        </div>
        {#        </form>#}

        {{ form_end(form) }}
    </main>
    </body>


{% endblock  %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/smartwizard@5/dist/js/jquery.smartWizard.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-visible/1.2.0/jquery.visible.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/additional-methods.js" type="text/javascript"></script>
    <script src=" https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/additional-methods.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script>




        $(document).ready(function () {
            $.validator.messages.required = 'Ce champ est requis';
            $.validator.messages.pattern='Le format rentré est incorrect';
            /*  $('.projet_fournisseur').change(function() {
                  $phasin=document.getElementById('projet_fournisseur').value;
                  $.ajax({
                  method: "POST",
                  url: "{{ path('projet_new') }}",
            data: {id: $phasin},
            dataType: "json",
            success: function(html) {
                console.log(html);
                }


        }).done( function(response) {
            //alert(123);
            var htmlToDisplay = response.trim();
            $("#your_div").html(response);
        }).fail(function(jxh,textmsg,errorThrown){
            console.log(textmsg);
            console.log(errorThrown);
        });
        });
 })



*/




            $('.projet_Phase').change(function() {
                $phasing=document.getElementById('projet_Phase');
                document.getElementById('projet_datel1').value=null;
                document.getElementById('projet_date0').value=null;
                document.getElementById('projet_date1').value=null;
                document.getElementById('projet_date2').value=null;
                document.getElementById('projet_date3').value=null;
                document.getElementById('projet_datespec').value=null;
                document.getElementById('projet_paiement').value=null;
                document.getElementById('projet_garanti').value=null;
                document.getElementById('projet_debit1bm').value=null;
                document.getElementById('projet_debit2bm').value=null;
                document.getElementById('projet_debit3bm').value=null;
                document.getElementById('projet_garanti').required=false;
                document.getElementById('projet_debit1bm').required=false;
                document.getElementById('projet_debit2bm').required=false;
                document.getElementById('projet_debit3bm').required=false;
                document.getElementById('garanti').style.display="none";
                document.getElementById('debit1bm').style.display="none";
                document.getElementById('debit2bm').style.display="none";
                document.getElementById('debit3bm').style.display="none";
                document.getElementById('modalites').style.display="none";
                document.getElementById('label_tl1').innerText='Date T-1';
                document.getElementById('label_t0').innerText='Date T0';
                document.getElementById('label_t1').innerText='Date T1';
                document.getElementById('label_t2').innerText='Date T2';
                document.getElementById('label_t3').innerText='Date T3';
                document.getElementById('label_spec').innerText='Date de spécifications';
                var selectValue = $phasing.options[$phasing.selectedIndex].value;
                if ((selectValue=='1')|| (selectValue=='2')|| (selectValue=='3')){
                    //abondonne non demarre suspendu
                    document.getElementById('projet_datel1').style.display="none";
                    document.getElementById('datel1').style.display="none";
                    document.getElementById("projet_datel1").required=false;

                    document.getElementById('projet_date0').style.display="none";
                    document.getElementById('date0').style.display="none";
                    document.getElementById("projet_date0").required=false;

                    document.getElementById('projet_date1').style.display="none";
                    document.getElementById('date1').style.display="none";
                    document.getElementById("projet_date1").required=false;

                    document.getElementById('projet_date2').style.display="none";
                    document.getElementById('date2').style.display="none";
                    document.getElementById("projet_date2").required=false;

                    document.getElementById('projet_date3').style.display="none";
                    document.getElementById('date3').style.display="none";
                    document.getElementById("projet_date3").required=false;

                    document.getElementById('projet_datespec').style.display="none";
                    document.getElementById('datespec').style.display="none";
                    document.getElementById("projet_datespec").required=false;

                    document.getElementById('navdate').style.display="block";



                    document.getElementById('navmode').style.display="none";
                    document.getElementById('mode').style.display="none";
                    document.getElementById("projet_paiement").required=false;

                    document.getElementById('modalites').style.display="none";
                    document.getElementById('garanti').style.display="none";
                    document.getElementById('debit1bm').style.display="none";
                    document.getElementById('debit2bm').style.display="none";
                    document.getElementById('debit3bm').style.display="none";








                }



                else if (selectValue=='4'){//cadrage t-1

                    document.getElementById('label_tl1').innerText='Date T-1 *';

                    document.getElementById('projet_datel1').style.display="block";
                    document.getElementById('datel1').style.display="block";
                    document.getElementById("projet_datel1").required=true;

                    document.getElementById('projet_date0').style.display="none";
                    document.getElementById('date0').style.display="none";
                    document.getElementById("projet_date0").required=false;

                    document.getElementById('projet_date1').style.display="none";
                    document.getElementById('date1').style.display="none";
                    document.getElementById("projet_date1").required=false;

                    document.getElementById('projet_date2').style.display="none";
                    document.getElementById('date2').style.display="none";
                    document.getElementById("projet_date2").required=false;

                    document.getElementById('projet_date3').style.display="none";
                    document.getElementById('date3').style.display="none";
                    document.getElementById("projet_date3").required=false;

                    document.getElementById('projet_datespec').style.display="none";
                    document.getElementById('datespec').style.display="none";
                    document.getElementById("projet_datespec").required=false;

                    document.getElementById('navdate').style.display="none";



                    document.getElementById('navmode').style.display="block";
                    document.getElementById('mode').style.display="none";
                    document.getElementById("projet_paiement").required=false;



                }
                else if (selectValue=='5'){//etude t0
                    document.getElementById('label_t0').innerText='Date T0 *';

                    document.getElementById('projet_datel1').style.display="block";
                    document.getElementById('datel1').style.display="block";
                    document.getElementById("projet_datel1").required=false;

                    document.getElementById('projet_date0').style.display="block";
                    document.getElementById('date0').style.display="block";
                    document.getElementById("projet_date0").required=true;

                    document.getElementById('projet_date1').style.display="none";
                    document.getElementById('date1').style.display="none";
                    document.getElementById("projet_date1").required=false;

                    document.getElementById('projet_date2').style.display="none";
                    document.getElementById('date2').style.display="none";
                    document.getElementById("projet_date2").required=false;

                    document.getElementById('projet_date3').style.display="none";
                    document.getElementById('date3').style.display="none";
                    document.getElementById("projet_date3").required=false;

                    document.getElementById('projet_datespec').style.display="none";
                    document.getElementById('datespec').style.display="none";
                    document.getElementById("projet_datespec").required=false;

                    document.getElementById('navdate').style.display="none";


                    document.getElementById('navmode').style.display="block";
                    document.getElementById('mode').style.display="none";
                    document.getElementById("projet_paiement").required=false;

                    $collectionHolder.empty();
                    $collectionHolder.append($nouveau);
                    $collectionHolder.data('index', $collectionHolder.find('input').length);
                    $boutonAjouter.on('click', function (e) {addModaliteForm($collectionHolder, $nouveau);
                    });

                }

                else if ((selectValue=='6')){//construction
                    document.getElementById('label_t1').innerText='Date T1 *';
                    document.getElementById('label_t2').innerText='Date T2 *';
                    document.getElementById('label_t3').innerText='Date T3 *';
                    document.getElementById('label_spec').innerText='Date de spécifications *';


                    document.getElementById('projet_datel1').style.display="block";
                    document.getElementById('datel1').style.display="block";
                    document.getElementById("projet_datel1").required=false;

                    document.getElementById('projet_date0').style.display="block";
                    document.getElementById('date0').style.display="block";
                    document.getElementById("projet_date0").required=false;

                    document.getElementById('projet_date1').style.display="block";
                    document.getElementById('date1').style.display="block";
                    document.getElementById("projet_date1").required=true;

                    document.getElementById('projet_date2').style.display="block";
                    document.getElementById('date2').style.display="block";
                    document.getElementById("projet_date2").required=true;

                    document.getElementById('projet_date3').style.display="block";
                    document.getElementById('date3').style.display="block";
                    document.getElementById("projet_date3").required=true;

                    document.getElementById('projet_datespec').style.display="block";
                    document.getElementById('datespec').style.display="block";
                    document.getElementById("projet_datespec").required=true;
                    document.getElementById('projet_paiement').required=true;

                    document.getElementById('navdate').style.display="none";



                    document.getElementById('navmode').style.display="none";
                    document.getElementById('mode').style.display="table-row";
                }



                else if ( (selectValue=='7')){//construction codage

                    document.getElementById('label_t1').innerText='Date T1 ';
                    document.getElementById('label_t2').innerText='Date T2 *';
                    document.getElementById('label_t3').innerText='Date T3 *';
                    document.getElementById('label_spec').innerText='Date de spécifications *';
                    document.getElementById('projet_datel1').style.display="block";
                    document.getElementById('datel1').style.display="block";
                    document.getElementById("projet_datel1").required=false;

                    document.getElementById('projet_date0').style.display="block";
                    document.getElementById('date0').style.display="block";
                    document.getElementById("projet_date0").required=false;

                    document.getElementById('projet_date1').style.display="block";
                    document.getElementById('date1').style.display="block";
                    document.getElementById("projet_date1").required=false;

                    document.getElementById('projet_date2').style.display="block";
                    document.getElementById('date2').style.display="block";
                    document.getElementById("projet_date2").required=true;

                    document.getElementById('projet_date3').style.display="block";
                    document.getElementById('date3').style.display="block";
                    document.getElementById("projet_date3").required=true;

                    document.getElementById('projet_datespec').style.display="block";
                    document.getElementById('datespec').style.display="block";
                    document.getElementById("projet_datespec").required=true;


                    document.getElementById('navdate').style.display="none";



                    document.getElementById('navmode').style.display="none";
                    document.getElementById('mode').style.display="table-row";
                    document.getElementById("projet_paiement").required=true;



                }
                else if ( (selectValue=='9')||(selectValue=='8')){//test ou recette

                    document.getElementById('label_t1').innerText='Date T1 ';
                    document.getElementById('label_t2').innerText='Date T2 ';
                    document.getElementById('label_t3').innerText='Date T3 *';
                    document.getElementById('label_spec').innerText='Date de spécifications *';
                    document.getElementById('projet_datel1').style.display="block";
                    document.getElementById('datel1').style.display="block";
                    document.getElementById("projet_datel1").required=false;

                    document.getElementById('projet_date0').style.display="block";
                    document.getElementById('date0').style.display="block";
                    document.getElementById("projet_date0").required=false;

                    document.getElementById('projet_date1').style.display="block";
                    document.getElementById('date1').style.display="block";
                    document.getElementById("projet_date1").required=false;

                    document.getElementById('projet_date2').style.display="block";
                    document.getElementById('date2').style.display="block";
                    document.getElementById("projet_date2").required=false;

                    document.getElementById('projet_date3').style.display="block";
                    document.getElementById('date3').style.display="block";
                    document.getElementById("projet_date3").required=true;

                    document.getElementById('projet_datespec').style.display="block";
                    document.getElementById('datespec').style.display="block";
                    document.getElementById("projet_datespec").required=true;


                    document.getElementById('navdate').style.display="none";


                    document.getElementById('navmode').style.display="none";
                    document.getElementById('mode').style.display="table-row";
                    document.getElementById("projet_paiement").required=true;



                }
                else if (  (selectValue=='10')){// prod

                    document.getElementById('label_t1').innerText='Date T1 ';
                    document.getElementById('label_t2').innerText='Date T2 ';
                    document.getElementById('label_t3').innerText='Date T3 ';
                    document.getElementById('label_spec').innerText='Date de spécifications *';
                    document.getElementById('projet_datel1').style.display="block";
                    document.getElementById('datel1').style.display="block";
                    document.getElementById("projet_datel1").required=false;

                    document.getElementById('projet_date0').style.display="block";
                    document.getElementById('date0').style.display="block";
                    document.getElementById("projet_date0").required=false;

                    document.getElementById('projet_date1').style.display="block";
                    document.getElementById('date1').style.display="block";
                    document.getElementById("projet_date1").required=false;

                    document.getElementById('projet_date2').style.display="block";
                    document.getElementById('date2').style.display="block";
                    document.getElementById("projet_date2").required=false;

                    document.getElementById('projet_date3').style.display="block";
                    document.getElementById('date3').style.display="block";
                    document.getElementById("projet_date3").required=false;

                    document.getElementById('projet_datespec').style.display="block";
                    document.getElementById('datespec').style.display="block";
                    document.getElementById("projet_datespec").required=true;


                    document.getElementById('navdate').style.display="none";


                    document.getElementById('navmode').style.display="none";
                    document.getElementById('mode').style.display="table-row";
                    document.getElementById("projet_paiement").required=true;



                }






            });


            var $collectionHolder;
            var $boutonAjouter = $('<button type="button" className="btn-toolbar add_modalite_link sm btn btn-sm text-black"style="background-color: lightgrey">Ajouter un jalon</button>');
            var $nouveau = $('<li></li>').append($boutonAjouter )
            ;
            var $collectionHolderCom;
            var $boutonAjouterCom = $('<button type="button" className="btn-toolbar add_modalite_link sm btn btn-sm text-black"style="background-color: lightgrey"> Ajouter un commentaire</button>');
            var $nouveauCom = $('<li></li>').append($boutonAjouterCom);

            jQuery(document).ready(function () {$collectionHolder = $('ul.modalites');
                $collectionHolder.find('li').each(function () {
                    addModaliteFormDeleteLink($(this));
                });
                $collectionHolder.append($nouveau);
                $collectionHolder.data('index', $collectionHolder.find('input').length);
                $boutonAjouter.on('click', function (e) {addModaliteForm($collectionHolder, $nouveau);
                });

                function addModaliteForm($collectionHolder, $newLinkLi) {
                    var prototype = $collectionHolder.data('prototype');
                    var index = $collectionHolder.data('index');
                    var newForm = prototype;
                    newForm = newForm.replace(/__name__/g, index);
                    $collectionHolder.data('index', index + 1);
                    var $newFormLi = $('<li></li>').append(newForm);
                    $newLinkLi.before($newFormLi);
                    addModaliteFormDeleteLink($newFormLi);
                    document.getElementById('smartwizard').style.height = "200%";
                    document.getElementById('tab-content').style.height = "200%";
                }
                function addModaliteFormDeleteLink($tagFormLi) {
                    var $removeFormButton = $('<button type="button" class="btn-toolbar btn btn-sm text-black" style="background-color: lightgrey; margin-bottom: 2%; font-size: 1em ">Supprimer le jalon</button>');
                    $tagFormLi.append($removeFormButton);
                    $removeFormButton.on('click', function (e) {
                        $tagFormLi.remove();
                    });
                }


                jQuery(document).ready(function () {
                    $collectionHolderCom = $('ul.commentaires');
                    $collectionHolderCom.find('li').each(function () {
                        addCommentaireFormDeleteLinkCom($(this));
                    });
                    $collectionHolderCom.append($nouveauCom);
                    $collectionHolderCom.data('index', $collectionHolderCom.find('input').length);
                    $boutonAjouterCom.on('click', function (e) {
                        addCommentaireFormCom($collectionHolderCom, $nouveauCom);
                    });


                    function addCommentaireFormCom($collectionHolderCom, $newLinkLiCom) {
                        var prototype = $collectionHolderCom.data('prototype');
                        var index = $collectionHolderCom.data('index');
                        var newFormCom = prototype;
                        newFormCom = newFormCom.replace(/__name__/g, index);
                        $collectionHolderCom.data('index', index + 1);
                        var $newFormLiCom = $('<li></li>').append(newFormCom);
                        $newLinkLiCom.before($newFormLiCom);
                        addCommentaireFormDeleteLinkCom($newFormLiCom);
                        document.getElementById('smartwizard').style.height = "200%";
                        document.getElementById('tab-content').style.height = "200%";
                    }
                    function addCommentaireFormDeleteLinkCom($tagFormLiCom) {
                        var $removeFormButtonCom = $('<button type="button" class="btn-toolbar btn btn-sm text-black" style="background-color: lightgrey; margin-bottom: 2%; font-size: 1em ">Supprimer le commentaire</button>');
                        $tagFormLiCom.append($removeFormButtonCom);
                        $removeFormButtonCom.on('click', function (e) {
                            $tagFormLiCom.remove();
                        });
                    }
                });




                $('.projet_paiement').change(function() {
                    $phasing2=document.getElementById('projet_paiement');
                    var selectValue2 = $phasing2.options[$phasing2.selectedIndex].value;
                    let full=false;
                    let resultToReturn = false;
                    let doublonpou = false;
                    let supe=false;
                    let infto=false;
                    let detect1=false;
                    let detect2=false;
                    let detect3=false;
                    var detect1value=0;
                    var detect2value=0;
                    var detect3value=0;
                    let verif1=false;
                    let verif2=false;
                    let verif3=false;
                    let verdate1=false;
                    let verdate2=false;
                    let verdate3=false;
                    if (selectValue2=='1'){ //bilan mensuel
                        document.getElementById('modalites').style.display="none";
                        document.getElementById('garanti').style.display="none";
                        document.getElementById('projet_garanti').value=null;
                        document.getElementById('projet_garanti').required=false;

                        document.getElementById('projet_debit1bm').value='20';
                        document.getElementById('projet_debit1bm').required=true;

                        document.getElementById('projet_debit2bm').value='60';
                        document.getElementById('projet_debit2bm').required=true;
                        document.getElementById('projet_debit3bm').required=true;
                        document.getElementById('projet_debit3bm').value='80'

                        document.getElementById('debit1bm').style.display="table-row";
                        document.getElementById('debit2bm').style.display="table-row";
                        document.getElementById('debit3bm').style.display="table-row";

                        document.getElementById('smartwizard').style.height = "200%";
                        document.getElementById('tab-content').style.height = "200%";

                    }
                    if (selectValue2=='2'){ //modalite
                        document.getElementById('projet_garanti').required=true;
                        document.getElementById('garanti').style.display="table-row";
                        document.getElementById('modalites').style.display="block";
                        document.getElementById('smartwizard').style.height = "200%";
                        document.getElementById('tab-content').style.height = "200%";

                        document.getElementById('projet_debit1bm').value=null;
                        document.getElementById('projet_debit1bm').required=false;

                        document.getElementById('projet_debit2bm').value=null;
                        document.getElementById('projet_debit2bm').required=false;

                        document.getElementById('debit1bm').style.display="none";
                        document.getElementById('debit2bm').style.display="none";
                        document.getElementById('debit3bm').style.display="none";
                        document.getElementById('projet_debit3bm').value=null;
                        document.getElementById('projet_debit3bm').required=false;

                    }
                });


            })
            ;




            var btnFinish = $('<button></button>').text('Ajouter').addClass('btn btn-info sw-btn-group-extra d-none')
                .on('click', function(){


                    onsubmit();


                });



            $('#smartwizard').smartWizard({
                selected: 0, // Initial selected step, 0 = first step
                theme: 'arrows', // theme for the wizard, related css need to include for other than default theme
                justified: true, // Nav menu justification. true/false
                darkMode:false, // Enable/disable Dark Mode if the theme supports. true/false
                autoAdjustHeight: true, // Automatically adjust content height
                cycleSteps: false, // Allows to cycle the navigation of steps
                backButtonSupport: true, // Enable the back button support
                enableURLhash: false, // Enable selection of the step based on url hash
                transition: {
                    animation: 'none', // Effect on navigation, none/fade/slide-horizontal/slide-vertical/slide-swing
                    speed: '400', // Transion animation speed
                    easing:'' // Transition animation easing. Not supported without a jQuery easing plugin
                },
                toolbarSettings: {
                    toolbarPosition: 'bottom', // none, top, bottom, both
                    toolbarButtonPosition: 'right', // left, right, center
                    showNextButton: true, // show/hide a Next button
                    showPreviousButton: true, // show/hide a Previous button
                    toolbarExtraButtons: [btnFinish] // Extra buttons to show on toolbar, array of jQuery input/buttons elements

                },
                anchorSettings: {
                    anchorClickable: false, // Enable/Disable anchor navigation
                    enableAllAnchors: false, // Activates all anchors clickable all times
                    markDoneStep: true, // Add done state on navigation
                    markAllPreviousStepsAsDone: true, // When a step selected by url hash, all previous steps are marked done
                    removeDoneStepOnNavigateBack: false, // While navigate back done step after active step will be cleared
                    enableAnchorOnDoneStep: true // Enable/Disable the done steps navigation
                },
                keyboardSettings: {
                    keyNavigation: true, // Enable/Disable keyboard navigation(left and right keys are used if enabled)
                    keyLeft: [37], // Left key code
                    keyRight: [39] // Right key code
                },
                lang: { // Language variables for button
                    next: 'Suivant',
                    previous: 'Précédant'
                },
                disabledSteps: [], // Array Steps disabled
                errorSteps: [], // Highlight step with errors
                hiddenSteps: [], // Hidden steps

            });













            function validateSteps(stepnumber){
                var isStepValid = true;

                if (stepnumber==1) {
                    if (document.getElementById('projet_Phase').value == 5) {
                        if ((document.getElementById('projet_datel1').value != null) && (document.getElementById('projet_date0').value != null) &&( (document.getElementById('projet_datel1').value > document.getElementById('projet_date0').value)||(document.getElementById('projet_datel1').value==(document.getElementById('projet_date0').value)))){
                            isStepValid = false;
                            document.getElementById('messerror1').innerHTML = 'La date T-1 est programmé après la date T0';
                        }
                        else {
                            isStepValid = true;
                            document.getElementById('messerror1').innerHTML = '';

                        }
                    }
                    if ((document.getElementById('projet_Phase').value == 6)) {


                        if ((document.getElementById('projet_datel1').value != null) && (document.getElementById('projet_date1').value != null) && (document.getElementById('projet_datel1').value > document.getElementById('projet_date1').value)){
                            isStepValid = false;
                            document.getElementById('messerror1').innerHTML = 'La date T-1 est programmée après la date T1';
                        }
                        else if ((document.getElementById('projet_datel1').value != null) && (document.getElementById('projet_date2').value != null) && (document.getElementById('projet_datel1').value > document.getElementById('projet_date2').value)){
                            isStepValid = false;
                            document.getElementById('messerror1').innerHTML = 'La date T-1 est programmée après la date T2';
                        }
                        else if ((document.getElementById('projet_datel1').value != null) && (document.getElementById('projet_date3').value != null) && (document.getElementById('projet_datel1').value > document.getElementById('projet_date3').value)){
                            isStepValid = false;
                            document.getElementById('messerror1').innerHTML = 'La date T-1 est programmée après la date T3';
                        }

                        else if ((document.getElementById('projet_date0').value != null) && (document.getElementById('projet_date1').value != null) && (document.getElementById('projet_date0').value > document.getElementById('projet_date1').value)) {
                            isStepValid = false;
                            document.getElementById('messerror1').innerHTML = 'La date T0 est programmée après la date T1';
                        }
                        else if ((document.getElementById('projet_date0').value != null) && (document.getElementById('projet_date2').value != null) && (document.getElementById('projet_date0').value > document.getElementById('projet_date2').value)) {
                            isStepValid = false;
                            document.getElementById('messerror1').innerHTML = 'La date T0 est programmée après la date T2';
                        }

                        else if ((document.getElementById('projet_date0').value != null) && (document.getElementById('projet_date3').value != null) && (document.getElementById('projet_date0').value > document.getElementById('projet_date3').value)) {
                            isStepValid = false;
                            document.getElementById('messerror1').innerHTML = 'La date T0 est programmée après la date T3';
                        }

                        else if ((document.getElementById('projet_date1').value != null) && (document.getElementById('projet_date2').value != null) && (document.getElementById('projet_date1').value > document.getElementById('projet_date2').value)) {
                            isStepValid = false;
                            document.getElementById('messerror1').innerHTML = 'La date T1 est programmée après la date T2';
                        }
                        else if ((document.getElementById('projet_date1').value != null) && (document.getElementById('projet_date3').value != null) && (document.getElementById('projet_date1').value > document.getElementById('projet_date3').value)) {
                            isStepValid = false;
                            document.getElementById('messerror1').innerHTML = 'La date T1 est programmée après la date T3';
                        }

                        else if ((document.getElementById('projet_date2').value != null) && (document.getElementById('projet_date3').value != null) && (document.getElementById('projet_date2').value > document.getElementById('projet_date3').value)) {
                            isStepValid = false;
                            document.getElementById('messerror1').innerHTML = 'La date T2 est programmée après la date T3';
                        }

                        else if ((document.getElementById('projet_datel1').value != null) && (document.getElementById('projet_date1').value != null) && (document.getElementById('projet_datel1').value === document.getElementById('projet_date1').value)){
                            isStepValid = false;
                            document.getElementById('messerror1').innerHTML = 'La date T-1 est programmée en même temps que la date T1';
                        }
                        else if ((document.getElementById('projet_datel1').value != null) && (document.getElementById('projet_date2').value != null) && (document.getElementById('projet_datel1').value === document.getElementById('projet_date2').value)){
                            isStepValid = false;
                            document.getElementById('messerror1').innerHTML = 'La date T-1 est programmée en même temps que la date T2';
                        }
                        else if ((document.getElementById('projet_datel1').value != null) && (document.getElementById('projet_date3').value != null) && (document.getElementById('projet_datel1').value === document.getElementById('projet_date3').value)){
                            isStepValid = false;
                            document.getElementById('messerror1').innerHTML = 'La date T-1 est programmée en même temps que la date T3';
                        }

                        else if ((document.getElementById('projet_date0').value != null) && (document.getElementById('projet_date1').value != null) && (document.getElementById('projet_date0').value === document.getElementById('projet_date1').value)) {
                            isStepValid = false;
                            document.getElementById('messerror1').innerHTML = 'La date T0 est programmée en même temps que la date T1';
                        }
                        else if ((document.getElementById('projet_date0').value != null) && (document.getElementById('projet_date2').value != null) && (document.getElementById('projet_date0').value === document.getElementById('projet_date2').value)) {
                            isStepValid = false;
                            document.getElementById('messerror1').innerHTML = 'La date T0 est programmée en même temps que la date T2';
                        }

                        else if ((document.getElementById('projet_date0').value != null) && (document.getElementById('projet_date3').value != null) && (document.getElementById('projet_date0').value === document.getElementById('projet_date3').value)) {
                            isStepValid = false;
                            document.getElementById('messerror1').innerHTML = 'La date T0 est programmée en même temps que la date T3';
                        }

                        else if ((document.getElementById('projet_date1').value != null) && (document.getElementById('projet_date2').value != null) && (document.getElementById('projet_date1').value === document.getElementById('projet_date2').value)) {
                            isStepValid = false;
                            document.getElementById('messerror1').innerHTML = 'La date T1 est programmée en même temps que la date T2';
                        }
                        else if ((document.getElementById('projet_date1').value != null) && (document.getElementById('projet_date3').value != null) && (document.getElementById('projet_date1').value === document.getElementById('projet_date3').value)) {
                            isStepValid = false;
                            document.getElementById('messerror1').innerHTML = 'La date T1 est programmée en même temps que la date T3';
                        }

                        else if ((document.getElementById('projet_date2').value != null) && (document.getElementById('projet_date3').value != null) && (document.getElementById('projet_date2').value === document.getElementById('projet_date3').value)) {
                            isStepValid = false;
                            document.getElementById('messerror1').innerHTML = 'La date T2 est programmée en même temps que la date T3';
                        }



                        else  {
                            isStepValid = true;
                            document.getElementById('messerror1').innerHTML = '';
                        }


                    }

                    if ((document.getElementById('projet_Phase').value == 7)) {

                        if ((document.getElementById('projet_date2').value != null) && (document.getElementById('projet_date3').value != null) && (document.getElementById('projet_date2').value > document.getElementById('projet_date3').value)) {
                            isStepValid = false;
                            document.getElementById('messerror1').innerHTML = 'La date T2 est programmée après la date T3';
                        }



                        else if ((document.getElementById('projet_date2').value != null) && (document.getElementById('projet_date3').value != null) && (document.getElementById('projet_date2').value === document.getElementById('projet_date3').value)) {
                            isStepValid = false;
                            document.getElementById('messerror1').innerHTML = 'La date T2 est programmée en même temps que la date T3';
                        }



                        else  {
                            isStepValid = true;
                            document.getElementById('messerror1').innerHTML = '';
                        }


                    }
                } //endif step1
                if(stepnumber==2){
                    if ((document.getElementById('projet_Phase').value == 6)||(document.getElementById('projet_Phase').value == 7)||(document.getElementById('projet_Phase').value == 8)||(document.getElementById('projet_Phase').value == 9)||(document.getElementById('projet_Phase').value == 10)) {
                        if ($phasing2.options[$phasing2.selectedIndex].value == '2') {
                            var tailletaux = $('ul.modalites').find('input').length;
                            var jalontaille = $('ul.modalites').find('input').length;
                            var jalondif=new Array();
                            var jalontaux=new Array();
                            var x=0;
                            while(jalondif.length!=jalontaille){
                                if((!!document.getElementById('projet_modalites_' + [x]+'_conditions'))==true) {
                                    jalontaux.push(parseInt(document.getElementById('projet_modalites_' + [x]+'_pourcentage').value));
                                    jalondif.push(document.getElementById('projet_modalites_' + [x]+'_conditions').value);
                                }
                                x=x+1;
                            }


                            let full=false;
                            let resultToReturn = false;
                            let doublonpou = false;
                            let supe=false;
                            let infto=false;
                            let detect1=false;
                            let detect2=false;
                            let detect3=false;
                            var detect1value=0;
                            var detect2value=0;
                            var detect3value=0;
                            let verif1=false;
                            let verif2=false;
                            let verif3=false;
                            let verdate1=false;
                            let verdate2=false;
                            let verdate3=false;

                            resultToReturn=new Set(jalondif).size !== jalondif.length;
                            doublonpou=new Set(jalontaux).size !== jalontaux.length;

                            for (a = 0; a < jalontaux.length; a++) {
                                if (jalontaux[a]<= 0) {
                                    infto=true;
                                    break
                                }
                                else if (jalontaux[a]> 100) {
                                    supe=true;
                                    break;
                                }
                            }
                            if((jalontaille!=0)&&(!jalontaux.includes(100))) {
                                full=true;

                            }


                            for (z = 0; z < jalontaux.length; z++) {
                                if (jalondif[z] == 'date T1 atteinte') {

                                    detect1 = true;
                                    detect1value = jalontaux[z];
                                    break;
                                }
                            }
                            for (zb = 0; zb < jalontaux.length; zb++) {
                                if (jalondif[zb] == 'date T2 atteinte') {
                                    detect2=true;
                                    detect2value = jalontaux[zb];
                                    break;
                                }
                            }
                            for (zc = 0; zc < jalontaux.length; zc++) {
                                if (jalondif[zc] == 'date T3 atteinte') {
                                    detect3=true;
                                    detect3value=jalontaux[zc];
                                    break;
                                }
                            }
                            if((detect1 == true) && (detect2 == true)){
                                if (detect1value>detect2value){
                                    verif1=true;
                                }
                            }
                            if((detect1==true)&&(detect3==true)){
                                if (detect1value>detect3value){
                                    verif2=true;
                                }
                            }
                            if((detect2==true)&&(detect3==true)){
                                if (detect2value>detect3value){
                                    verif3=true;
                                }
                            }
                            if ((document.getElementById('projet_date1').value=='')&&(detect1==true)){
                                verdate1=true;
                            }
                            if ((document.getElementById('projet_date2').value=='')&&(detect2==true)){
                                verdate2=true;
                            }
                            if ((document.getElementById('projet_date3').value=='')&&(detect3==true)){
                                verdate3=true;
                            }


                            if(resultToReturn == true){
                                document.getElementById('tauxerror').innerText='Des conditions sont identiques';
                                isStepValid=false;
                            }
                            if(doublonpou == true){
                                document.getElementById('tauxerror').innerText='Des pourcentages sont identiques';
                                isStepValid=false;
                            }
                            else if( infto == true){
                                document.getElementById('tauxerror').innerText='Le pourcentage des jalons ne peut pas être négatif';
                                isStepValid=false;
                            }
                            else if (supe == true){
                                document.getElementById('tauxerror').innerText='Le pourcentage des jalons ne peut pas être supérieur à 100%';
                                isStepValid=false;
                            }
                            else if (full == true){
                                document.getElementById('tauxerror').innerText='Une des modalités doit être égale à 100%';
                                isStepValid=false;
                            }

                            else if (verdate1 == true){
                                document.getElementById('tauxerror').innerText='La date T1 n\'est pas définie';
                                isStepValid=false;
                            }

                            else if (verdate2 == true){
                                document.getElementById('tauxerror').innerText='La date T2 n\'est pas définie';
                                isStepValid=false;
                            }

                            else if (verdate3 == true){
                                document.getElementById('tauxerror').innerText='La date T3 n\'est pas définie';
                                isStepValid=false;
                            }

                            else if (verif1 == true){
                                document.getElementById('tauxerror').innerText='Le pourcentage de la condition T1 est supérieure à celle de la condition T2';
                                isStepValid=false;
                            }
                            else if (verif2 == true){
                                document.getElementById('tauxerror').innerText='Le pourcentage de la condition T1 est supérieure à celle de la condition T3';
                                isStepValid=false;
                            }
                            else if (verif3 == true){
                                document.getElementById('tauxerror').innerText='Le pourcentage de la condition T2 est supérieure à celle de la condition T3';
                                isStepValid=false;
                            }


                            else{
                                document.getElementById('tauxerror').innerText='';
                                isStepValid=true;
                            }
                        }
                        else{
                            if (document.getElementById('projet_debit1bm').value<0){
                                document.getElementById('projet_debit1bm-error').innerText='La valeur ne peut pas être négative';
                                document.getElementById('projet_debit1bm-error').style.display='block';

                                isStepValid=false;
                            }
                            else if (document.getElementById('projet_debit2bm').value<0){
                                document.getElementById('projet_debit2bm-error').innerText='La valeur ne peut pas être négative';
                                document.getElementById('projet_debit2bm-error').style.display='block';
                                isStepValid=false;
                            }
                            else if (document.getElementById('projet_debit3bm').value<0){
                                document.getElementById('projet_debit3bm-error').innerText='La valeur ne peut pas être négative';
                                document.getElementById('projet_debit3bm-error').style.display='block';
                                isStepValid=false;
                            }
                            else {
                                document.getElementById('projet_debit1bm-error').innerText='';
                                document.getElementById('projet_debit2bm-error').innerText='';
                                document.getElementById('projet_debit3bm-error').innerText='';

                                document.getElementById('projet_debit1bm-error').style.display='none';
                                document.getElementById('projet_debit2bm-error').style.display='none';
                                document.getElementById('projet_debit3bm-error').style.display='none';



                                isStepValid=true;
                            }
                        }



                    }

                }//endif step 3


                return isStepValid;
            }


            $('#smartwizard').on("leaveStep", function(e, anchorObject, stepNumber, stepDirection) {
                    if (stepDirection > stepNumber) {
                        if ($('#myForm').valid() && validateSteps(stepNumber) == true) {
                            if (stepDirection == "4") //here is the final step: Note: 0,1,2
                            {
                                $('.sw-btn-group-extra').removeClass('d-none');
                            } else {
                                $('.sw-btn-group-extra').addClass('d-none');
                                return true;
                            }
                        } else {
                            return false
                        }
                        return true;

                    } else {
                        if (stepDirection == "4") //here is the final step: Note: 0,1,2
                        {
                            $('.sw-btn-group-extra').removeClass('d-none');
                        } else {
                            $('.sw-btn-group-extra').addClass('d-none');
                            return true;
                        }

                    }
                }
            )



























        })

    </script>


{% endblock  %}