{% extends 'base.html.twig' %}

 {% block stylesheets %}
     {{ parent() }}
     <link rel="stylesheet" href="{{ asset('css/connexion.css') }}" />
     <link href="https://cdn.jsdelivr.net/npm/smartwizard@5/dist/css/smart_wizard_all.min.css" rel="stylesheet" type="text/css" />
     <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
     <style>

         .select23  {
             /* for Firefox */
             -moz-appearance: none;
             /* for Chrome */
             -webkit-appearance: none;
         }

         /* For IE10 */
         .select23::-ms-expand {
             display: none;
         }

         .sw-theme-arrows>.nav .nav-link.done {
             border-color: darkgrey;
             border-top-color: darkgrey;
             border-right-color: darkgrey;
             border-bottom-color: darkgrey;
             border-left-color: darkgrey;
             background: darkgrey;
             background-color: darkgrey;
         }

         .sw-theme-arrows>.nav .nav-link.done::after {
             border-left-color: darkgrey;
         }

         .sw-theme-arrows>.nav .nav-link.done {
             border-color: darkgrey;
             border-top-color: darkgrey;
             border-right-color: darkgrey;
             border-bottom-color: darkgrey;
             border-left-color: darkgrey;
             background: darkgrey;
             background-color: darkgrey;
             color: black;
         }

         .sw-theme-arrows>.nav .nav-link.active {
             border-color: #FF7900;
             border-top-color: #FF7900;
             border-right-color: #FF7900;
             border-bottom-color: #FF7900;
             border-left-color: #FF7900;
             background: #FF7900;
             background-color:#FF7900;

             color: black;
         }

         .sw-theme-arrows>.nav .nav-link.active::after {
             border-left-color: #FF7900;
             color: black;
         }


         .sw-theme-arrows>.nav .nav-link.active {

             border-color: #FF7900;
             border-top-color: #FF7900;
             border-right-color: #FF7900;
             border-bottom-color: #FF7900;
             border-left-color: #FF7900;
             background-color:#FF7900;
             color: black;

         }

         .sw-theme-arrows .toolbar>.btn{
             background-color: #FF7900;
             border-color: #FF7900;
             color: black;
         }


         input,select{
             width: 100%;
         }
         textarea {

             width: 100%;
         }

         #tore{
             width:20%;}

         @media (max-width:765px)
         {   #tore{
             width:50%;}

             #lors{
                 width:20%;

             }}




     </style>


 {% endblock  %}

{% block body  %}
    <body class="d-flex flex-column">
    <main class="container-fluid flex-fill ">
        <br>
        <h1 class="text-center">Changement de phase </h1>
        <br>
        {{ form_start(form, {'attr': {'id': 'myForm'}}) }}
        <div id="smartwizard">

            <ul class="nav" >
                <li class="nav-item">
                    <a class="nav-link" href="#step-1">
                        Description
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#step-2">
                        Avancement
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#step-3">
                        Confirmation
                    </a>
                </li>

            </ul>

            <div class="tab-content" id="tab-content">
                <div id="step-1" class="tab-pane" role="tabpanel" aria-labelledby="step-1">
                    <table style="border-color: white;width:100%">

                        <tr style="border-color: white" >
                            <th width="15%">

                                {{ form_label(form, 'Phase *', {
                                    'label_attr': {'class': 'input-group-text'}}) }}</th>
                            <th  id="tore">
                                {{ form_widget(form.Phase, {
                                    'label_attr': {'class': 'form_control'}}
                                ) }}
                            </th>
                            <th style="padding-left: 1%"><label id="phasef_Phase-error" class="error" for="phasef_Phase"></label></th>
                    </table>

                </div>
                <div id="step-2" class="tab-pane" role="tabpanel" aria-labelledby="step-2">
                    <table>
                        <tr id="boxchoix30">
                            <td>Lors de la phase actuelle, y-a-t-il eu un retard lors de la date T3 ? *</td>
                            <th id="lors">{{ form_widget(form.choix30, {
                                    'label_attr': {'class': 'form_control'}}
                                ) }}</th>
                            <th  width="40%" style="padding-left: 1%"><label id="phasef_choix30-error" class="error" for="phasef_choix30"></label></th>
                        </tr>
                    </table>
                    <table style="border-color: white;width:100%">

                        <tr id="datereel3" style="display: none" >
                            <th width="15%"> {{ form_label(form, 'Date réelle T3 *', {
                                    'label_attr': {'class': 'input-group-text'}}) }}</th>
                            <th width="20%">{{ form_widget(form.datereel3, {
                                    'label_attr': {'class': 'form_control'}}
                                ) }}</th>
                            <th  width="50%" style="padding-left: 1%"><label id="phasef_datereel3-error" class="error" for="phasef_datereel3"></label></th>
                        </tr>
                        <br>
                    </table>




                </div>

                <div id="step-3" class="tab-pane" role="tabpanel" aria-labelledby="step-3">
                    <h4>  Veuillez vérifier vos données avant de soumettre le formulaire </h4>
                    <div id = "descriptionof " >
                        <h4>Description</h4>
                        <p id="newphase"> </p>
                    </div>
                    <div id = "avancementof" >
                        <h4>Avancement</h4>
                        <p id="datereel3of"> </p>
                    </div>


                </div>

            </div>
        </div>
        {#        </form>#}

        {{ form_end(form) }}
    </main>
    </body>


{% endblock  %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/smartwizard@5/dist/js/jquery.smartWizard.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-visible/1.2.0/jquery.visible.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/additional-methods.js" type="text/javascript"></script>
    <script src=" https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/additional-methods.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script>




        $(document).ready(function () {
            $.validator.messages.required = 'Ce champ est requis';
            $.validator.messages.pattern='Le format rentré est incorrect';
            /*  $('.phasef_fournisseur').change(function() {
                  $phasin=document.getElementById('phasef_fournisseur').value;
                  $.ajax({
                  method: "POST",
                  url://
            data: {id: $phasin},
            dataType: "json",
            success: function(html) {
                console.log(html);
                }


        }).done( function(response) {
            //alert(123);
            var htmlToDisplay = response.trim();
            $("#your_div").html(response);
        }).fail(function(jxh,textmsg,errorThrown){
            console.log(textmsg);
            console.log(errorThrown);
        });
        });
 })



*/




            $('.phasef_Phase').change(function() {
                $phasing=document.getElementById('phasef_Phase');
                document.getElementById('phasef_choix30').value=null;

                document.getElementById('phasef_datereel3').value=null;
            });


            $('.phasef_choix30').change(function() {

                $phasip=document.getElementById('phasef_choix30');
                var selectValue4 = $phasip.options[$phasip.selectedIndex].value;

                if(selectValue4==1){
                    document.getElementById('smartwizard').style.height = "200%";
                    document.getElementById('tab-content').style.height = "200%";
                    document.getElementById('phasef_datereel3').required=true;
                    document.getElementById('datereel3').style.display="block";
                    document.getElementById('phasef_datereel3').style.display="block";

                }
                else if(selectValue4==2) {

                    document.getElementById('phasef_datereel3').required=false;
                    document.getElementById('datereel3').style.display="none";
                    document.getElementById('phasef_datereel3').style.display="none";
                    document.getElementById('phasef_datereel3').value=null;

                }



            });






            var btnFinish = $('<button></button>').text('Valider').addClass('btn btn-info sw-btn-group-extra d-none')
                .on('click', function(){


                    onsubmit();


                });



            $('#smartwizard').smartWizard({
                selected: 0, // Initial selected step, 0 = first step
                theme: 'arrows', // theme for the wizard, related css need to include for other than default theme
                justified: true, // Nav menu justification. true/false
                darkMode:false, // Enable/disable Dark Mode if the theme supports. true/false
                autoAdjustHeight: true, // Automatically adjust content height
                cycleSteps: false, // Allows to cycle the navigation of steps
                backButtonSupport: true, // Enable the back button support
                enableURLhash: false, // Enable selection of the step based on url hash
                transition: {
                    animation: 'none', // Effect on navigation, none/fade/slide-horizontal/slide-vertical/slide-swing
                    speed: '400', // Transion animation speed
                    easing:'' // Transition animation easing. Not supported without a jQuery easing plugin
                },
                toolbarSettings: {
                    toolbarPosition: 'bottom', // none, top, bottom, both
                    toolbarButtonPosition: 'right', // left, right, center
                    showNextButton: true, // show/hide a Next button
                    showPreviousButton: true, // show/hide a Previous button
                    toolbarExtraButtons: [btnFinish] // Extra buttons to show on toolbar, array of jQuery input/buttons elements

                },
                anchorSettings: {
                    anchorClickable: false, // Enable/Disable anchor navigation
                    enableAllAnchors: false, // Activates all anchors clickable all times
                    markDoneStep: true, // Add done state on navigation
                    markAllPreviousStepsAsDone: true, // When a step selected by url hash, all previous steps are marked done
                    removeDoneStepOnNavigateBack: false, // While navigate back done step after active step will be cleared
                    enableAnchorOnDoneStep: true // Enable/Disable the done steps navigation
                },
                keyboardSettings: {
                    keyNavigation: true, // Enable/Disable keyboard navigation(left and right keys are used if enabled)
                    keyLeft: [37], // Left key code
                    keyRight: [39] // Right key code
                },
                lang: { // Language variables for button
                    next: 'Suivant',
                    previous: 'Précédant'
                },
                disabledSteps: [], // Array Steps disabled
                errorSteps: [], // Highlight step with errors
                hiddenSteps: [], // Hidden steps

            });













            function validateSteps(stepnumber){
                var isStepValid = true;
                document.getElementById('newphase').innerText = 'Prochaine phase : ' + document.getElementById('phasef_Phase').options[document.getElementById('phasef_Phase').selectedIndex].innerText;
                if ((document.getElementById('phasef_choix30').selectedIndex!=-1)) {
                    if (document.getElementById('phasef_choix30').options[document.getElementById('phasef_choix30').selectedIndex].value == 1) {
                        document.getElementById('datereel3of').innerText = 'Retard dans la date T3 : ' + document.getElementById('phasef_datereel3').value;
                    }
                    else {
                        document.getElementById('datereel3of').innerText = 'Pas de retard dans la date T3 ';
                    }
                }







                return isStepValid;
            }


            $('#smartwizard').on("leaveStep", function(e, anchorObject, stepNumber, stepDirection) {
                if ($('#myForm').valid()&&validateSteps(stepNumber)==true) {
                    if(stepDirection == "2") //here is the final step: Note: 0,1,2
                    {
                        $('.sw-btn-group-extra').removeClass('d-none');
                        $('.sw-btn-next').addClass('d-none');
                    }
                    else
                    {
                        $('.sw-btn-group-extra').addClass('d-none');
                        $('.sw-btn-next').removeClass('d-none');
                        return true;
                    }
                } else {
                    return false
                }
                return true;

            })



























        })

    </script>


{% endblock  %}